Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

feat: 221 wip
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

feat(backend): invokes databricks sql execution on create-experiment use-case (basic) (#301)
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

fix(cicd): fixes affected app detection
  .github/actions/blt/action.yml
Due: none

fix(cicd): changes pr base for detection of all commit changes
  .github/workflows/pr.yml
Due: none

fix(cicd): adds env secrets for next build
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
Due: none

fix(cicd): lint things
  .github/actions/blt/action.yml
  apps/mobile/package.json
  packages/database/tsconfig.json
  packages/ui/eslint.config.js
  pnpm-lock.yaml
  tooling/tailwind/native.ts
Due: mobile, unit

fix(cicd): removes linting from ui pkg
  packages/ui/eslint.config.js
  packages/ui/package.json
Due: none

feat(infra): (wip) configures terraform for opennext deployment
  .github/workflows/deploy-nextjs-opennext.yml
  .gitignore
  apps/web/.gitignore
  apps/web/open-next.config.ts
  apps/web/package.json
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/opennext-cloudfront/README.md
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/outputs.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext-dynamodb/README.md
  infrastructure/modules/opennext-dynamodb/main.tf
  infrastructure/modules/opennext-dynamodb/outputs.tf
  infrastructure/modules/opennext-dynamodb/variables.tf
  infrastructure/modules/opennext-lambda/README.md
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/outputs.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext-sqs/README.md
  infrastructure/modules/opennext-sqs/main.tf
  infrastructure/modules/opennext-sqs/outputs.tf
  infrastructure/modules/opennext-sqs/variables.tf
  infrastructure/modules/opennext/README.md
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/outputs.tf
  infrastructure/modules/opennext/variables.tf
Due: web, unit

feat(infra): adjusts name prefix
  infrastructure/modules/opennext-lambda/README.md
  infrastructure/modules/opennext/README.md
  infrastructure/modules/opennext/main.tf
Due: none

feat(infra): additions to aurora implementation
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/data.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/vpc/main.tf
Due: none

feat(infra): backend infra
  infrastructure/env/dev/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/outputs.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/ecs/data.tf
  infrastructure/modules/ecs/iam.tf
  infrastructure/modules/ecs/locals.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/vpc-endpoints/main.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
Due: none

feat(infra): ecs alb waf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat(infra): backend infra
  infrastructure/env/dev/main.tf
Due: none

format
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
  apps/mobile/package.json
Due: mobile, unit

feat: implement experiment management UI with data display and settings
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

feat: enhance experiment edit and settings pages with improved form handling and UI adjustments
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

refactor: replace date formatting with formatDate utility and remove mock data utilities
  apps/web/package.json
  apps/web/util/mock-data.ts
  pnpm-lock.yaml
Due: web, unit

refactor: reorganize imports and streamline member management functions for clarity
  apps/web/components/experiment-member-management.tsx
Due: web, unit

refactor: simplify getUsersNotOnExperiment method by removing unused user parameter
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/globals.css
Due: backend, web, unit

Refactor code structure for improved readability and maintainability
  apps/web/package.json
  apps/web/util/mock-data.ts
  pnpm-lock.yaml
Due: web, unit

refactor: enhance ExperimentSettingsPage by integrating ExperimentMemberManagement and updating layout
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
Due: web, unit

feat: update color palette and improve badge styling for experiment overview
  apps/web/app/globals.css
Due: web, unit

refactor: clean up imports and improve method signatures in ExperimentMembersController
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  packages/api/src/contracts/experiment.contract.ts
Due: backend, web, unit

feat: implement GetUsersNotOnExperiment use case and related components
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useUsersNotOnExperiment/useUsersNotOnExperiment.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

refactor: simplify result handling in ExperimentMembersController and ExperimentController; update key prop in ExperimentMemberManagement
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/components/experiment-member-management.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

refactor: remove unused imports and clean up experiment-related components
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: web, unit

refactor: remove GetUsersNotOnExperiment use case and related hooks; implement user search functionality with debounce in ExperimentMemberManagement
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/hooks/experiment/useUsersNotOnExperiment/useUsersNotOnExperiment.ts
  apps/web/hooks/useDebounce.ts
  apps/web/hooks/useUserSearch.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/input.tsx
  packages/ui/src/components/search-input.tsx
Due: backend, web, unit

refactor: remove ExperimentMemberManagement component from ExperimentSettingsPage
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

refactor: streamline member addition and removal handling in ExperimentMemberManagement
  apps/web/components/experiment-member-management.tsx
Due: web, unit

chore
  infrastructure/env/dev/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/vpc/main.tf
Due: none

fix(cicd): fixes affected app detection (#302)
  .github/actions/blt/action.yml
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
  .github/workflows/deployment-template.yml
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
  apps/mobile/package.json
  packages/database/tsconfig.json
  packages/ui/package.json
  pnpm-lock.yaml
  tooling/tailwind/native.ts
Due: mobile, unit

refactor: integrate UserSearchWithDropdown component for enhanced user search functionality in ExperimentMemberManagement
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/useUserSearch.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/user-search-with-dropdown.tsx
Due: web, unit

fix: removes scripts from include
  packages/database/tsconfig.json
Due: none

fix: removes scripts from include (#312)
  packages/database/tsconfig.json
Due: none

Got auth fully working locally
  apps/mobile/package.json
  apps/mobile/src/screens/login-screen/login-screen.tsx
  apps/web/app/api/auth/mobile-redirect/route.ts
  packages/auth/src/next.ts
  pnpm-lock.yaml
Due: web, mobile, unit

test tf
  .github/workflows/deployment-template.yml
Due: none

test tf
  infrastructure/env/dev/variables.tf
Due: none

test tf
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
Due: none

test tf
  infrastructure/env/dev/main.tf
Due: none
