Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

Add unified navbar and update navigation structure and translations
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/unified-navbar.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/navigation.json
Due: web, unit

Format JSON arrays in OpenAPI and GraphQL schema files
  apps/docs/static/api/rest/openapi.json
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/env.ts
  apps/web/next.config.js
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/client.ts
Due: web, unit

chore: Set prettier printWidth to 100 characters
  .prettierrc
Due: none

chore: Set prettier printWidth to 100 characters (#385)
  .prettierrc
Due: none

fix: footer sticks properly to the bottom of the page
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/page.tsx
Due: web, unit

Allow for auth override
  apps/mobile/src/app/index.tsx
Due: mobile, unit

Prepare measurement screen for slicing
  apps/mobile/src/api/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/app/(tabs)/measurement.ts
  apps/mobile/src/mocks/mock-devices.ts
  apps/mobile/src/mocks/mock-experiments.ts
  apps/mobile/src/mocks/mock-protocols.ts
  apps/mobile/src/navigation/ble-stack-navigator.ios.tsx
  apps/mobile/src/navigation/bluetooth-stack-navigator.tsx
  apps/mobile/src/navigation/main-router.tsx
  apps/mobile/src/screens/measurement-screen.tsx
  apps/mobile/src/screens/old-app/ble-connection-screen.tsx
  apps/mobile/src/screens/old-app/ble-devices-list-screen/ble-devices-list-screen.tsx
  apps/mobile/src/screens/old-app/ble-devices-list-screen/components/item-card/components/devices-list-view.tsx
  apps/mobile/src/screens/old-app/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/old-app/ble-devices-list-screen/utils/bluetooth-device.ts
  apps/mobile/src/screens/old-app/ble-devices-list-screen/utils/order-devices.ts
  apps/mobile/src/screens/old-app/ble-devices-list-screen/utils/sample-devices.tsx
  apps/mobile/src/screens/old-app/ble-devices-list-screen/utils/serialize-device.ts
  apps/mobile/src/screens/old-app/ble-devices-list-screen/utils/update-list.ts
  apps/mobile/src/screens/old-app/bluetooth-device-details-screen.tsx
  apps/mobile/src/screens/old-app/bluetooth-devices-list-screen/bluetooth-devices-list-screen.tsx
  apps/mobile/src/screens/old-app/bluetooth-devices-list-screen/utils/compare-bluetooth-devices.tsx
  apps/mobile/src/screens/old-app/home-screen.tsx
  apps/mobile/src/screens/old-app/serial-port-connection-screen.android.tsx
  apps/mobile/src/screens/old-app/serial-port-connection-screen.tsx
Due: mobile, unit

Integrate bluetooth connecting
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/design-system.tsx
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Card.tsx
  apps/mobile/src/components/ConnectionStatus.tsx
  apps/mobile/src/components/Dropdown.tsx
  apps/mobile/src/components/Input.tsx
  apps/mobile/src/components/JIIButton.tsx
  apps/mobile/src/components/JIICard.tsx
  apps/mobile/src/components/JIIInput.tsx
  apps/mobile/src/components/JIIText.tsx
  apps/mobile/src/components/JIIThemeToggle.tsx
  apps/mobile/src/components/MeasurementResult.tsx
  apps/mobile/src/components/UnsyncedScanItem.tsx
  apps/mobile/src/hooks/use-auth.ts
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/hooks/use-experiment.ts
  apps/mobile/src/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/hooks/use-login.ts
  apps/mobile/src/hooks/use-network-status.ts
  apps/mobile/src/hooks/use-theme.ts
  apps/mobile/src/hooks/use-toast.ts
  apps/mobile/src/screens/measurement-screen.tsx
  apps/mobile/src/services/multispeq-communication/android-bluetooth-connection/get-bluetooth-classic-devices.ts
Due: mobile, unit

Remove unused main navigation from sidebar wrapper
  apps/web/components/app-sidebar-wrapper.tsx
Due: web, unit

Remove navMain from sidebar navigation data and UI
  apps/web/components/app-sidebar.tsx
Due: web, unit

Update packages/cms/src/features/article/ArticleTileGrid.tsx
  packages/cms/src/features/article/ArticleTileGrid.tsx
Due: none

Update packages/cms/src/lib/graphql/pageBlogPostCollection.graphql
  packages/cms/src/lib/graphql/pageBlogPostCollection.graphql
Due: none

refactor: change cms file names to match the rest plus other fixes
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/api/enable-draft/route.ts
  apps/web/app/layout.tsx
  apps/web/components/blog/footer.tsx
  apps/web/components/blog/footer/index.ts
  apps/web/components/blog/header/Header.tsx
  apps/web/components/blog/header/index.ts
  packages/cms/src/features/article/article-author.tsx
  packages/cms/src/features/article/article-content.tsx
  packages/cms/src/features/article/article-hero.tsx
  packages/cms/src/features/article/article-image.tsx
  packages/cms/src/features/article/article-label.tsx
  packages/cms/src/features/article/article-title-grid.tsx
  packages/cms/src/features/article/article-title.tsx
  packages/cms/src/features/article/index.ts
  packages/cms/src/features/contentful/ctf-image.tsx
  packages/cms/src/features/contentful/ctf-preview-provider.tsx
  packages/cms/src/features/contentful/ctf-rich-text.tsx
  packages/cms/src/features/contentful/index.ts
Due: web, unit

refactor: update container and format-date components
  packages/cms/package.json
  packages/cms/src/features/article/article-hero.tsx
  packages/cms/src/features/article/article-title.tsx
  packages/cms/src/shared/container.tsx
  packages/cms/src/shared/container/index.ts
  packages/cms/src/shared/format-date.tsx
  packages/cms/src/shared/format-date/index.ts
  packages/cms/src/shared/index.ts
  packages/cms/src/shared/portal.tsx
  packages/cms/src/shared/portal/index.ts
Due: none

refactor: update footer text to replace 'powered by' with 'learn more at'
  apps/web/components/blog/footer.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: web, unit

chore: upgrades @asyncapi/cli 2.16.0 to 3.2.0, @asyncapi/html-template 3.2.0 to 3.3.0
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrades @asyncapi/cli 2.16.0 to 3.2.0, @asyncapi/html-template 3.2.0 to 3.3.0 (#388)
  package.json
  pnpm-lock.yaml
Due: none

docs: add Contentful live preview setup instructions to README
  README.md
Due: none

Use env route for backend
  apps/mobile/src/api/tsr.ts
Due: mobile, unit

Update cookie key
  apps/web/app/api/auth/mobile-redirect/route.ts
Due: web, unit

Allow token override
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/hooks/use-auth.ts
  apps/mobile/src/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/hooks/use-session-store.ts
Due: mobile, unit

feat(web): Update cookie key for mobile auth flow (#391)
  apps/web/app/api/auth/mobile-redirect/route.ts
Due: web, unit

Fix login for android
  apps/mobile/src/api/get-session-data.ts
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/callback.tsx
  apps/mobile/src/app/index.tsx
  apps/mobile/src/auth/login.ts
Due: mobile, unit

Remove nonexisting type
  apps/mobile/src/screens/old-app/home-screen.tsx
Due: mobile, unit

Got auth working on android
  apps/mobile/src/api/tsr.ts
  apps/mobile/src/app/(tabs)/experiments.tsx
Due: mobile, unit

feat(web): Changes to prevent user from entering negative values for embargoIntervalDays
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
Due: web, unit

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
Due: none

feat: dns, cdn & routing for backend
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/opennext-lambda/empty-function.zip
  infrastructure/modules/route53/main.tf
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat(web/infra): enables opennext server lambda to read from aws secrets manager
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/actions/auth.ts
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/login-form.tsx
  apps/web/hooks/experiment/useExperiment/useExperiment.ts
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
  apps/web/hooks/experiment/useExperimentDelete/useExperimentDelete.ts
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  apps/web/hooks/experiment/useExperimentMemberRemove/useExperimentMemberRemove.ts
  apps/web/hooks/experiment/useExperimentMembers/useExperimentMembers.ts
  apps/web/hooks/experiment/useExperimentUpdate/useExperimentUpdate.ts
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  apps/web/hooks/useUserSearch.ts
  apps/web/lib/auth.ts
  apps/web/lib/secrets.ts
  apps/web/middleware.ts
  apps/web/providers/QueryProvider.tsx
  apps/web/tsconfig.json
  infrastructure/env/dev/main.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  packages/auth/src/adapter.ts
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/next.ts
  packages/database/src/database.ts
  packages/database/src/migrate.ts
Due: web, unit

cleanup comments
  infrastructure/env/dev/main.tf
Due: none

chore: cleanup
  infrastructure/modules/opennext-lambda/empty-function.zip
Due: none

chore: conflict import adjustments
  apps/web/app/[locale]/blog/[slug]/page.tsx
  apps/web/app/[locale]/blog/page.tsx
Due: web, unit
