Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

refactor(flow): streamline method signatures and improve error handling in flow step use cases
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/test/test-harness.ts
  turbo.json
Due: backend, unit

fix(web): Added hover/description for visibility icon
  apps/web/components/experiment-overview-cards.tsx
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
Due: web, unit

refactor(database): add reset script and update db:setup command to include reset
  packages/database/package.json
  packages/database/scripts/reset.ts
  packages/database/tsconfig.json
Due: none

refactor(flow): improve type handling and simplify default values in flow step use cases
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-with-steps/create-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
Due: backend, unit

fix(cicd): gives runner permissions to checkout repository properly
  .github/actions/blt/action.yml
  .github/workflows/pr.yml
Due: none

chore: comment some things out
  .github/actions/blt/action.yml
  .github/workflows/pr.yml
Due: none

chore: fix
  .github/actions/blt/action.yml
Due: none

fix reference to env var
  .github/actions/blt/action.yml
Due: none

revert test change
  apps/web/app/layout.tsx
Due: web, unit

format
  .github/actions/blt/action.yml
Due: none

chore: test change
  apps/web/app/layout.tsx
Due: web, unit

refactor(flow): enhance type safety and error handling in flow step operations
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
Due: backend, unit

refactor(tests): improve member retrieval assertions and enhance flow creation error handling
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
Due: backend, unit

fix(cicd): gives runner permissions to checkout repository properly (#508)
  .github/actions/blt/action.yml
  .github/workflows/pr.yml
Due: none

refactor(tests): enhance test harness with flow and step creation helpers; improve flow step connection management
  apps/backend/src/experiments/flows/application/use-cases/create-flow-with-steps/create-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

chore(turbo): remove unused Contentful environment variables
  turbo.json
Due: none

chore: make lint work on all workspaces and fix the easily fixable errors
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.spec.ts
  apps/backend/src/protocols/presentation/protocol.controller.spec.ts
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/context/toast-context.tsx
  apps/mobile/src/hooks/use-experiments-data.ts
  apps/mobile/src/protocols/definitions/upd14.ts
  apps/mobile/src/screens/measurement-screen/utils/get-protocols-dropdown-options.ts
  apps/mobile/src/widgets/login-widget.tsx
  apps/web/env.ts
  apps/web/package.json
  apps/web/providers/QueryProvider.tsx
  apps/web/util/schema.ts
  packages/cms/src/features/contentful/ctf-preview-provider.tsx
  packages/cms/src/features/contentful/ctf-rich-text.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/home/visual-media.tsx
  packages/cms/src/lib/__generated/sdk.ts
  packages/i18n/package.json
  packages/i18n/src/client.ts
  packages/i18n/src/index.ts
  packages/i18n/src/server.ts
  pnpm-lock.yaml
  turbo.json
Due: backend, web, mobile, unit

chore: remove unused eslint-config entry from pnpm-lock.yaml
  packages/cms/package.json
Due: none

feat(web): Experiment Overview Cards (#511)
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/components/ExperimentStatusBadge.tsx
  apps/web/components/experiment-overview-cards.tsx
  apps/web/components/experiment-table-rows.tsx
  apps/web/components/list-experiments.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/experiments.json
Due: backend, web, unit

refactor(tests): update flow step tests to include additional step and connection scenarios
  apps/backend/jest.config.js
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.spec.ts
Due: backend, unit

refactor: remove create flow and create flow step use cases; add get flow by experiment use case
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-by-experiment/get-flow-by-experiment.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-by-experiment/get-flow-by-experiment.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
Due: backend, unit

Refactor FlowController: streamline flow creation and retrieval, enhance mobile flow transformation, and improve date formatting
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
Due: backend, unit

Refactor flow management: streamline flow and step schemas, enhance logging, and update API contracts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-by-experiment/get-flow-by-experiment.spec.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

refactor: simplify connection update logic in FlowStepRepository
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
Due: backend, unit

fix(test): adds table cleanup for organizations
  apps/backend/src/test/test-harness.ts
Due: none

fix(test): adds table cleanup for organizations (#518)
  apps/backend/src/test/test-harness.ts
Due: none

chore: sets PR workflow to run on pull_request
  .github/workflows/pr.yml
Due: none

chore: test change in web
  apps/web/app/layout.tsx
Due: web, unit

refactor: enhance flow and experiment integration; streamline schemas and repository logic
  apps/backend/src/experiments/flows/application/use-cases/get-flow-by-experiment/get-flow-by-experiment.spec.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

refactor: make experimentId optional in flow schema; unify flow step type definition
  packages/api/src/schemas/flow.schema.ts
Due: none

chore(cicd): sets PR workflow to run on pull_request (#519)
  .github/workflows/pr.yml
Due: none

feat: some additional checks in get-experiment-data
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
Due: backend, unit

feat: test adjust
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

feat: port & adapter
  apps/backend/src/common/modules/databricks/databricks.adapter.spec.ts
  apps/backend/src/common/modules/databricks/databricks.adapter.ts
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/core/ports/databricks.port.ts
  apps/backend/src/experiments/experiment.module.ts
Due: backend, unit

feat: work
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/common/modules/databricks/databricks.service.spec.ts
  apps/backend/src/common/modules/databricks/databricks.service.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.spec.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.types.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.spec.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.ts
  apps/backend/src/common/modules/databricks/services/config/config.types.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.spec.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.types.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.spec.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.types.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.spec.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.types.ts
  apps/backend/src/common/services/databricks/databricks.module.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/common/utils/axios-error.spec.ts
  apps/backend/src/common/utils/axios-error.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  tooling/eslint/base.js
Due: backend, unit

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/outputs.tf
Due: none

feat
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
Due: none

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

chore: removes unused spark conf
  infrastructure/env/dev/main.tf
Due: none
