Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

feat: refines experiment api
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0000_natural_puppet_master.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, unit

feat: reworks updated_at
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  packages/database/drizzle/0000_aberrant_victor_mancha.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, unit

feat(backend): adds status query param to list experiments api
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

chore: fixing copilot slop
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
Due: backend, unit

feat: refines experiment api
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  packages/database/drizzle/0000_wakeful_siren.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
Due: backend, unit

chore: rm explicit updatedAt date
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
Due: backend, unit

build and test node, build and push docker
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
Due: none

build and test node, build and push docker
  .github/actions/btn/action.yml
Due: none

changes in relation to pnpm
  .github/actions/btn/action.yml
Due: none

feat(backend): refines experiments API (#263)
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.spec.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/docs/static/api/rest/openapi.json
  apps/web/components/create-experiment.tsx
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0000_aberrant_victor_mancha.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, web, unit

feat(web): Only owners can edit experiments
  apps/web/components/list-experiments.tsx
Due: web, unit

feat(web): Column owner/member populated
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
Due: web, unit

feat(web): Add error handling for experiment updates and enhance QueryClient configuration
  apps/web/components/edit-experiment.tsx
  apps/web/providers/QueryProvider.tsx
Due: web, unit

feat(web): Fixes search params and sidebar
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/list-experiments.tsx
  apps/web/util/searchParams.ts
Due: web, unit

feat(web): Add filtering capability to experiments list and format date utility
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  apps/web/util/date.ts
  packages/database/package.json
Due: web, unit

feat(web): Add dev:fb script to run backend and web development concurrently
  package.json
Due: none

feat(web): Enhance experiment list with status filtering and update useExperiments hook
  apps/web/components/experiment-table-rows.tsx
  apps/web/components/list-experiments.tsx
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
Due: web, unit

refactor(web): Remove unused useMemo import in useExperiments hook
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
Due: web, unit

feat: list experiments (#273)
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/experiment-table-rows.tsx
  apps/web/components/list-experiments.tsx
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  apps/web/providers/QueryProvider.tsx
  apps/web/util/date.ts
  apps/web/util/searchParams.ts
  package.json
  packages/database/package.json
Due: web, unit

refactor: streamline experiment creation process and error handling
  apps/web/components/new-experiment.tsx
Due: web, unit

refactor: simplify experiment creation and editing components
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

fix: correct experiment creation navigation and streamline submission logic
  apps/web/components/new-experiment.tsx
Due: web, unit

refactor: streamline experiment creation process and error handling (#276)
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

Got BLE scan working
  apps/mobile/src/screens/ble-connection-screen.tsx
  apps/mobile/src/screens/bluetooth-device-details-screen.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/bluetooth-ble/connect-to-bte-device.ts
  apps/mobile/src/services/multispeq-communication/disposable-multispeq-command-executor.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
Due: mobile, unit

Add device suffix to screens containing actual implementation
  apps/mobile/src/app.tsx
  apps/mobile/src/navigation/ble-stack-navigator.ios.tsx
  apps/mobile/src/navigation/ble-stack-navigator.tsx
  apps/mobile/src/screens/serial-port-connection-screen.android.tsx
  apps/mobile/src/screens/serial-port-connection-screen.ios.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
Due: mobile, unit

Apply linter rules
  apps/mobile/package.json
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/ble-devices-list-screen/utils/order-devices.ts
  apps/mobile/src/services/bluetooth-ble/connect-to-bte-device.ts
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/utils/safe-async.ts
  package.json
  pnpm-lock.yaml
Due: mobile, unit

Merge linter and prettier, apply linter changes
  apps/mobile/src/navigation/ble-stack-navigator.ios.tsx
  apps/mobile/src/navigation/ble-stack-navigator.tsx
  apps/mobile/src/screens/ble-connection-screen.tsx
  apps/mobile/src/screens/ble-devices-list-screen/ble-devices-list-screen.tsx
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/components/devices-list-view.tsx
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/bluetooth-devices-list-screen/bluetooth-devices-list-screen.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/bluetooth-ble/connect-to-bte-device.ts
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/services/multispeq-communication/disposable-multispeq-command-executor.ts
  apps/mobile/src/utils/safe-async.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
  tooling/eslint/base.js
Due: mobile, unit

No need for global eslint
  package.json
  pnpm-lock.yaml
Due: none

Apply linter changes
  apps/mobile/src/app.tsx
Due: mobile, unit

Fix react types import into mobile app
  pnpm-lock.yaml
Due: none

Restore restrictEnvAccess
  tooling/eslint/base.js
Due: none

feat: implement experiment management UI with data display and settings
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/app/openjii/experiments/[id]/data/page.tsx
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/layout.tsx
  apps/web/components/error-display.tsx
  apps/web/components/experiment-data.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/tsconfig.json
Due: backend, web, unit

feat: enhance experiment edit and settings pages with improved form handling and UI adjustments
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/experiments/page.tsx
Due: web, unit

Refactor code structure for improved readability and maintainability
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/package.json
  apps/web/util/mock-data.ts
  packages/ui/src/components/chart.tsx
  pnpm-lock.yaml
Due: web, unit

feat: update color palette and improve badge styling for experiment overview
  apps/web/app/globals.css
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/tailwind.config.ts
Due: web, unit

Changes for building context and adding test workflow
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
Due: none

feat: enhance color palette and update badge styles for experiment overview and layout
  apps/web/app/globals.css
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
Due: web, unit

refactor: streamline experiment overview page by removing unused imports and mock data
  apps/web/app/globals.css
  apps/web/app/openjii/experiments/[id]/page.tsx
Due: web, unit

refactor: remove unused mock data imports from experiment overview page
  apps/web/app/openjii/experiments/[id]/page.tsx
Due: web, unit

refactor: remove AppLayout wrapper from NewExperimentPage and OpenJIIHome components
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/page.tsx
Due: web, unit
