Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

feat(web): Refactor
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

feat(web): Refactor
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

feat(web): Fix
  apps/web/components/experiment-data/experiment-data-table.tsx
Due: web, unit

feat(web): Removed locale from most places
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/components/experiment-data/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
Due: web, unit

refactor: streamline content fetching and data extraction in Home component
  apps/web/app/[locale]/page.tsx
Due: web, unit

feat(web): Implemented the home, about, faq, privacy & usage policies pages (#418)
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/about/page.tsx
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/faq/layout.tsx
  apps/web/app/[locale]/faq/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/policies/layout.tsx
  apps/web/app/[locale]/policies/page.tsx
  apps/web/components/blog/footer.tsx
  apps/web/components/language-switcher.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/next.config.js
  package.json
  packages/cms/package.json
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/index.ts
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/home/visual-media.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/index.ts
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/footer.graphql
  packages/cms/src/lib/graphql/pageAbout.graphql
  packages/cms/src/lib/graphql/pageFaq.graphql
  packages/cms/src/lib/graphql/pageHomeFeatures.graphql
  packages/cms/src/lib/graphql/pageHomeHero.graphql
  packages/cms/src/lib/graphql/pageHomeMission.graphql
  packages/cms/src/lib/graphql/pageHomePartners.graphql
  packages/cms/src/lib/graphql/pagePolicies.graphql
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: web, unit

feat(web): Removed locale
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
Due: web, unit

fix(web): Get locale in page using hook useLocale()
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
Due: web, unit

feat(web): Experiment data tables (#402)
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/experiment-data/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
  apps/web/package.json
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  pnpm-lock.yaml
Due: backend, web, unit

chore: adjustments
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

work etc.
  apps/backend/.env.test
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/guards/api-key.guard.spec.ts
  apps/backend/src/common/guards/api-key.guard.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.spec.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.ts
  apps/docs/package.json
  apps/docs/static/api/rest/openapi.json
  infrastructure/notebooks/tasks/experiment_status_update_task.py
  packages/api/src/contract.ts
  packages/api/src/contracts/webhook.contract.ts
  packages/api/src/schemas/webhook.schema.ts
Due: backend, unit

chore: rm log line
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

chore: minor adjustments
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

chore: rm logging
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat: ddd
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.ts
  apps/backend/src/experiments/presentation/experiment-webhook.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-webhook.controller.ts
  packages/api/src/contract.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/contracts/webhook.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/webhook.schema.ts
Due: backend, unit

feat: hmac
  apps/backend/.env.test
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/guards/api-key.guard.spec.ts
  apps/backend/src/common/guards/api-key.guard.ts
  apps/backend/src/common/guards/hmac.guard.spec.ts
  apps/backend/src/common/guards/hmac.guard.ts
  apps/backend/src/common/utils/stable-json.spec.ts
  apps/backend/src/common/utils/stable-json.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.spec.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/webhook.schema.ts
Due: backend, unit

feat: hmac
  infrastructure/modules/backend-cloudfront/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

chore: cleanup
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
Due: backend, unit

chore: adjust experimentId body to param
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat: removes rawbody check
  apps/backend/src/common/guards/hmac.guard.ts
Due: backend, unit

cleanup
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

generate api specs
  apps/docs/static/api/rest/openapi.json
Due: none

chore: makes exception messages less descriptive
  apps/backend/src/common/guards/hmac.guard.ts
Due: backend, unit

chore: cleanup some comments
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

chore: adjustments
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
  apps/backend/src/experiments/presentation/experiment-webhook.controller.spec.ts
Due: backend, unit

feat: introduces webhook for databricks to update provisioning status (#396)
  apps/backend/.env.test
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/guards/hmac.guard.spec.ts
  apps/backend/src/common/guards/hmac.guard.ts
  apps/backend/src/common/utils/stable-json.spec.ts
  apps/backend/src/common/utils/stable-json.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-webhook.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-webhook.controller.ts
  apps/docs/package.json
  apps/docs/static/api/rest/openapi.json
  infrastructure/modules/backend-cloudfront/variables.tf
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
  infrastructure/notebooks/tasks/experiment_status_update_task.py
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

adjustments
  infrastructure/env/dev/main.tf
Due: none

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/outputs.tf
Due: none

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

feat: adjustments
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

chore: removes unused spark conf
  infrastructure/env/dev/main.tf
Due: none

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

added blog, about, faq, policies under the same route group
  apps/web/app/[locale]/(info)/about/page.tsx
  apps/web/app/[locale]/(info)/blog/[...notFound]/page.tsx
  apps/web/app/[locale]/(info)/blog/[slug]/page.tsx
  apps/web/app/[locale]/(info)/blog/not-found.tsx
  apps/web/app/[locale]/(info)/blog/page.tsx
  apps/web/app/[locale]/(info)/faq/page.tsx
  apps/web/app/[locale]/(info)/layout.tsx
  apps/web/app/[locale]/(info)/policies/page.tsx
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/policies/layout.tsx
  package.json
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/policies.tsx
  pnpm-lock.yaml
Due: web, unit

refactor(web): Added FAQ, Blog, Privacy & Usage Policies, and About in the same route group (#423)
  apps/web/app/[locale]/(info)/about/page.tsx
  apps/web/app/[locale]/(info)/blog/[...notFound]/page.tsx
  apps/web/app/[locale]/(info)/blog/[slug]/page.tsx
  apps/web/app/[locale]/(info)/blog/not-found.tsx
  apps/web/app/[locale]/(info)/blog/page.tsx
  apps/web/app/[locale]/(info)/faq/page.tsx
  apps/web/app/[locale]/(info)/layout.tsx
  apps/web/app/[locale]/(info)/policies/page.tsx
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/policies/layout.tsx
  package.json
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/policies.tsx
  pnpm-lock.yaml
Due: web, unit

feat(database): add experiment_protocols table and update schema for experiment associations
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0004_overjoyed_shocker.sql
  packages/database/drizzle/meta/0004_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: none

feat(web): Improved pagination with selectable page size
  apps/web/components/experiment-data/experiment-data-table.tsx
Due: web, unit

feat(web): Added keyboard support for pagination
  apps/web/components/experiment-data/experiment-data-table.tsx
Due: web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
