Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

refactor: simplify ExperimentEditPage by removing unused code and integrating EditExperiment component
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
Due: web, unit

refactor: replace date formatting with formatDate utility and remove mock data utilities
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/package.json
  apps/web/util/mock-data.ts
  pnpm-lock.yaml
Due: web, unit

Update apps/web/app/openjii/experiments/[id]/data/page.tsx
  apps/web/app/openjii/experiments/[id]/data/page.tsx
Due: web, unit

Update apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

Update apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
Due: web, unit

fix build
  apps/web/app/openjii/experiments/[id]/data/page.tsx
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/error-display.tsx
  apps/web/components/experiment-overview.tsx
Due: web, unit

refactor: fix up experiment overview (#285)
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/app/globals.css
  apps/web/app/openjii/experiments/[id]/data/page.tsx
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/app/openjii/layout.tsx
  apps/web/app/openjii/page.tsx
  apps/web/components/error-display.tsx
  apps/web/components/experiment-data.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  packages/ui/src/components/chart.tsx
Due: backend, web, unit

fix: temporarily renames py tool install script to setup
  apps/tools/multispeq_mqtt_interface/package.json
Due: none

chore: temporarily renames py tool install script to setup (#289)
  apps/tools/multispeq_mqtt_interface/package.json
Due: none

chore: fmt + some dir changes
  apps/backend/src/common/services/databricks/databricks.module.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/health/health.controller.spec.ts
Due: backend, unit

feat(backend): triggers databricks job on experiment creation
  .vscode/settings.json
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/services/databricks.module.ts
  apps/backend/src/common/services/databricks.service.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  pnpm-lock.yaml
Due: backend, unit

feat(backend): adds tests
  apps/backend/src/common/services/databricks.service.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/health/health.controller.spec.ts
Due: backend, unit

feat(backend): triggers databricks job on experiment creation
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/utils/fp-utils.ts
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
Due: backend, unit

chore: rm verbose debug line
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
Due: backend, unit

chore: adjusts naming of schema and pipeline in dlt
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
Due: none

perf(backend): adds logging across all use-cases
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
Due: backend, unit

feat: finalizes* databricks task to provision dlt
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
Due: backend, unit

perf(backend): adds logging across all use-cases
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
Due: backend, unit

feat(backend): triggers databricks job on experiment creation (#278)
  .vscode/settings.json
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/services/databricks/databricks.module.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/utils/fp-utils.ts
  apps/backend/src/health/health.controller.spec.ts
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
  pnpm-lock.yaml
Due: backend, unit

feat(mobile): BLE multispeq connection (#283)
  apps/mobile/package.json
  apps/mobile/src/app.tsx
  apps/mobile/src/navigation/ble-stack-navigator.ios.tsx
  apps/mobile/src/navigation/ble-stack-navigator.tsx
  apps/mobile/src/navigation/bluetooth-stack-navigator.ios.tsx
  apps/mobile/src/navigation/bluetooth-stack-navigator.tsx
  apps/mobile/src/screens/ble-connection-screen.tsx
  apps/mobile/src/screens/ble-devices-list-screen/ble-devices-list-screen.tsx
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/components/devices-list-view.tsx
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/ble-devices-list-screen/utils/order-devices.ts
  apps/mobile/src/screens/bluetooth-device-details-screen.tsx
  apps/mobile/src/screens/bluetooth-devices-list-screen/bluetooth-devices-list-screen.tsx
  apps/mobile/src/screens/serial-port-connection-screen.android.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/bluetooth-ble/connect-to-bte-device.ts
  apps/mobile/src/services/bluetooth-ble/prepare-bluetooth.ts
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/services/multispeq-communication/disposable-multispeq-command-executor.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
  apps/mobile/src/utils/safe-async.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
  pnpm-lock.yaml
  tooling/eslint/base.js
Due: mobile, unit

feat: moves utils to common, fixes a lot of controller issues
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/utils/date-formatter.spec.ts
  apps/backend/src/common/utils/date-formatter.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.spec.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

chore: delete leftovers
  apps/backend/src/experiments/utils/fp-utils.spec.ts
Due: backend, unit

fix: fixes a lot of linter errors
  apps/backend/src/common/decorators/cookie.decorator.ts
  apps/backend/src/common/decorators/current-user.decorator.ts
  apps/backend/src/common/guards/auth.guard.spec.ts
  apps/backend/src/common/guards/auth.guard.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/common/utils/date-formatter.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.spec.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/backend/src/health/health.controller.spec.ts
  apps/backend/src/main.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/test/app.e2e-spec.ts
  packages/auth/eslint.config.js
  packages/auth/src/adapter.ts
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/database/package.json
  packages/database/scripts/seed.ts
  packages/database/src/database.ts
  packages/database/src/schema.ts
  pnpm-lock.yaml
  tooling/eslint/base.js
  tooling/eslint/package.json
  turbo.json
Due: backend, unit

format
  .github/workflows/deployment-template.yml
  .github/workflows/deployment-template_OLD.yml
  apps/docs/static/api/rest/openapi.json
  apps/mobile/app.json
  apps/mobile/eas.json
  apps/mobile/tsconfig.json
  package.json
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/tsconfig.json
Due: mobile, unit

chore: changes
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
Due: backend, unit

feat: moves utils to common, fixes a lot of controller issues
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
Due: backend, unit

fix: fixes a lot of linter errors
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  packages/database/package.json
Due: backend, unit

feat(backend): introduces users domain with get & search use-cases
  apps/backend/src/app.module.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/src/users/application/use-cases/get-user/get-user.spec.ts
  apps/backend/src/users/application/use-cases/get-user/get-user.ts
  apps/backend/src/users/application/use-cases/search-users/search-users.spec.ts
  apps/backend/src/users/application/use-cases/search-users/search-users.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/core/repositories/user.repository.spec.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.spec.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/backend/src/users/user.module.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contract.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/user.schema.ts
Due: backend, unit

chore: use assert
  apps/backend/src/users/application/use-cases/get-user/get-user.spec.ts
Due: backend, unit

chore: regenerates openapi
  apps/docs/static/api/rest/openapi.json
Due: none

fix(backend): addresses linter errors across backend & adjustments to experiment controller responses (#294) ## Type of PR (check all applicable)
  apps/web/app/actions/auth.ts
  apps/web/app/openjii/layout.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-user.tsx
Due: web, unit

Update apps/web/components/nav-user.tsx
  apps/web/components/nav-user.tsx
Due: web, unit

refactor(nav-user): format logout button for improved readability
  apps/web/components/nav-user.tsx
Due: web, unit

fix: format openapi.json for consistent tag and required field structure
  apps/docs/static/api/rest/openapi.json
  packages/database/package.json
Due: none

feat(backend): introduces users domain with get & search use-cases (#295)
  apps/backend/src/app.module.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/src/users/application/use-cases/get-user/get-user.spec.ts
  apps/backend/src/users/application/use-cases/get-user/get-user.ts
  apps/backend/src/users/application/use-cases/search-users/search-users.spec.ts
  apps/backend/src/users/application/use-cases/search-users/search-users.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/core/repositories/user.repository.spec.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.spec.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/backend/src/users/user.module.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contract.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/user.schema.ts
Due: backend, unit

fix(auth): implement proper logout with server action (#297)
  apps/web/app/actions/auth.ts
  apps/web/app/openjii/layout.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-user.tsx
Due: web, unit

feat: implement experiment management UI with data display and settings
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

feat: enhance experiment edit and settings pages with improved form handling and UI adjustments
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
Due: web, unit

refactor: replace date formatting with formatDate utility and remove mock data utilities
  apps/web/package.json
  apps/web/util/mock-data.ts
  pnpm-lock.yaml
Due: web, unit
