Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

chore: format
  .github/workflows/deployment-template.yml
  apps/mobile/metro.config.js
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/bluetooth-ble/start-ble-devices-scan.ts
  apps/mobile/src/services/multispeq-communication/android-bluetooth-connection/bluetooth-device-to-multispeq-stream.ts
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/app/openjii/page.tsx
  apps/web/app/page.tsx
  apps/web/components/app-breadcrumbs.tsx
  apps/web/components/app-layout.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/nav-items.tsx
  apps/web/components/nav-user.tsx
  apps/web/util/schema.ts
  packages/ui/eslint.config.js
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toaster.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/hooks/use-toast.ts
Due: web, mobile, unit

Fix android build
  apps/mobile/package.json
  pnpm-lock.yaml
Due: mobile, unit

Implement PR requests, improve error display, add explaining photos
  apps/mobile/assets/multispeq2-button.png
  apps/mobile/assets/multispeq2-microusb.png
  apps/mobile/declarations.d.ts
  apps/mobile/package.json
  apps/mobile/src/components/big-action-button.tsx
  apps/mobile/src/components/toast-provider.tsx
  apps/mobile/src/screens/bluetooth-device-details-screen.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
  apps/mobile/src/utils/prettify-error-messages.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
  pnpm-lock.yaml
Due: mobile, unit

feat(mobile): Push results to mqtt + increase connection resilience (#215)
  apps/mobile/assets/multispeq2-button.png
  apps/mobile/assets/multispeq2-microusb.png
  apps/mobile/declarations.d.ts
  apps/mobile/package.json
  apps/mobile/src/app.tsx
  apps/mobile/src/components/big-action-button.tsx
  apps/mobile/src/components/error-view.tsx
  apps/mobile/src/components/toast-provider.tsx
  apps/mobile/src/navigation/bluetooth-stack.tsx
  apps/mobile/src/screens/bluetooth-device-details-screen.tsx
  apps/mobile/src/screens/mqtt-publish-test-screen.ts
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/mqtt/create-mqtt-connection.ts
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/services/multispeq-communication/android-bluetooth-connection/get-bluetooth-classic-devices.ts
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
  apps/mobile/src/utils/generate-random-string.ts
  apps/mobile/src/utils/prettify-error-messages.ts
  apps/mobile/src/utils/promise-with-timeout.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
  pnpm-lock.yaml
Due: mobile, unit

chore(web): devtools optionally enabled (#238)
  apps/web/next.config.js
  apps/web/providers/QueryProvider.tsx
  turbo.json
Due: web, unit

feat(web): Enhanced create experiment flow
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

feat(web): Added missing fields
  apps/web/components/new-experiment.tsx
Due: web, unit

feat(web): List experiments
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
Due: backend, web, unit

Initial code for tesing affected apps/fix
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
Due: none

feat(web): Changes because of review
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

revert changes as per comm.
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
Due: none

feat(web): Changes because of review
  apps/web/components/edit-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

feat(web): Changes because of review
  apps/web/components/list-experiments.tsx
Due: web, unit

feat(web): Fixed schema
  apps/web/util/schema.ts
Due: web, unit

add fetch depth 0
  .github/workflows/pr.yml
Due: none

fix(infra): Initial code for PR workflow fix (#253)
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
Due: none

feat(web): List experiments (#250)
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
Due: backend, web, unit

feat: (wip) implements platform-wide session-based authentication via auth.js
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/decorators/current-user.decorator.ts
  apps/backend/src/auth/decorators/index.ts
  apps/backend/src/auth/guards/auth.guard.ts
  apps/backend/src/auth/guards/index.ts
  apps/backend/src/auth/index.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/backend/src/main.ts
  apps/docs/static/.asyncapi/index.html
  apps/docs/static/api/rest/openapi.json
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/page.tsx
  apps/web/middleware.ts
  apps/web/next.config.js
  apps/web/package.json
  packages/api/package.json
  packages/api/src/contract.ts
  packages/api/src/contracts/auth.contract.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/auth.schema.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/next.ts
  packages/auth/tsconfig.json
  packages/database/drizzle/0000_clever_azazel.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/database.ts
  packages/database/src/schema.ts
  pnpm-lock.yaml
Due: backend, web, unit

chore: rm config things
  apps/web/app/_components/auth-showcase.tsx
Due: web, unit

feat: updates frontend hooks
  apps/web/components/create-experiment.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/hooks/experiment/useExperiment/useExperiment.ts
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
  apps/web/hooks/experiment/useExperimentDelete/useExperimentDelete.ts
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  apps/web/hooks/experiment/useExperimentMemberRemove/useExperimentMemberRemove.ts
  apps/web/hooks/experiment/useExperimentMembers/useExperimentMembers.ts
  apps/web/hooks/experiment/useExperimentUpdate/useExperimentUpdate.ts
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  packages/auth/src/config.ts
Due: web, unit

chore: pnpm format
  apps/mobile/metro.config.js
  apps/mobile/src/screens/ble-devices-list-screen/components/item-card/item-card.tsx
  apps/mobile/src/screens/serial-port-connection-screen.tsx
  apps/mobile/src/services/bluetooth-ble/start-ble-devices-scan.ts
  apps/mobile/src/services/multispeq-communication/android-bluetooth-connection/bluetooth-device-to-multispeq-stream.ts
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/app/openjii/page.tsx
  apps/web/app/page.tsx
  apps/web/components/app-breadcrumbs.tsx
  apps/web/components/app-layout.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/nav-items.tsx
  apps/web/components/nav-user.tsx
  apps/web/util/schema.ts
  packages/api/src/contracts/auth.contract.ts
  packages/ui/eslint.config.js
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/carousel.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/pagination.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/toggle-group.tsx
Due: web, mobile, unit

chore: cleanup
  apps/backend/src/common/decorators/index.ts
  apps/backend/src/common/guards/index.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
Due: backend, unit

chore: unit tests auth guard
  apps/backend/src/common/guards/auth.guard.spec.ts
  apps/backend/src/common/guards/auth.guard.ts
Due: backend, unit

feat: wip auth
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/decorators/cookie.decorator.ts
  apps/backend/src/auth/guards/auth.guard.ts
  apps/backend/src/main.ts
  apps/docs/static/api/rest/openapi.json
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/page.tsx
  apps/web/components/auth-showcase-client.tsx
  apps/web/hooks/auth/useAuthSignout/useAuthSignout.ts
  apps/web/middleware.ts
  package.json
  packages/api/package.json
  packages/api/src/contracts/auth.contract.ts
  packages/api/src/openapi.ts
  packages/auth/package.json
  packages/auth/src/adapter.ts
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/middleware.ts
  packages/auth/src/next.ts
  packages/database/package.json
  pnpm-lock.yaml
  turbo.json
Due: backend, web, unit

chore: format
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
  apps/mobile/declarations.d.ts
  apps/mobile/src/app.tsx
  apps/mobile/src/components/big-action-button.tsx
  apps/mobile/src/components/error-view.tsx
  apps/mobile/src/components/toast-provider.tsx
  apps/mobile/src/navigation/bluetooth-stack.tsx
  apps/mobile/src/screens/bluetooth-device-details-screen.tsx
  apps/mobile/src/services/mqtt/create-mqtt-connection.ts
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/services/multispeq-communication/android-bluetooth-connection/get-bluetooth-classic-devices.ts
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
  apps/mobile/src/utils/generate-random-string.ts
  apps/mobile/src/utils/prettify-error-messages.ts
  apps/mobile/src/utils/promise-with-timeout.ts
  apps/mobile/src/widgets/multispeq-measurement-widget.tsx
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/providers/QueryProvider.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toaster.tsx
  packages/ui/src/hooks/use-toast.ts
Due: web, mobile, unit

chore: updates tests
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/setup.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

feat: implements jwt-based authentication via auth.js
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.module.ts
  apps/backend/src/auth/index.ts
  apps/backend/src/common/config/database.config.ts
  apps/backend/src/common/database/database.module.ts
  apps/backend/src/common/decorators/cookie.decorator.ts
  apps/backend/src/common/decorators/current-user.decorator.ts
  apps/backend/src/common/decorators/index.ts
  apps/backend/src/common/guards/auth.guard.ts
  apps/backend/src/common/guards/index.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/app/page.tsx
  apps/web/components/app-layout.tsx
  apps/web/components/auth-showcase-client.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/hooks/auth/useAuthSignout/useAuthSignout.ts
  apps/web/middleware.ts
  packages/api/package.json
  packages/api/src/contract.ts
  packages/api/src/contracts/auth.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/auth.schema.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/middleware.ts
  packages/auth/src/next.ts
  pnpm-lock.yaml
Due: backend, web, unit

chore: fixes some type errors, aligns db table naming
  apps/backend/src/test/test-harness.ts
  packages/auth/src/adapter.ts
  packages/auth/src/config.ts
  packages/database/drizzle/0000_quiet_tombstone.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: none

chore: update api spec docs
  apps/docs/static/api/rest/openapi.json
Due: none

feat: includes jwt creds in requests via tsr
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
  apps/web/lib/tsr.ts
  packages/auth/src/express.ts
Due: web, unit

feat: adds callbacks to expose user id to backend
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/next.ts
Due: none

feat: adds callbacks to expose user id to backend
  packages/auth/src/config.ts
Due: none

feat: adds callbacks to expose user id to backend
  packages/auth/src/config.ts
  packages/auth/src/express.ts
Due: none

feat: includes jwt creds in requests via tsr (#254)
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/list-experiments.tsx
  apps/web/lib/tsr.ts
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/next.ts
Due: web, unit

feat(web): Remove extra button
  apps/web/components/edit-experiment.tsx
Due: web, unit

feat(web): Fixed sidebar menu title
  apps/web/components/app-sidebar.tsx
Due: web, unit

Formatting
  infrastructure/modules/aurora_db/main.tf
Due: none

fix an error
  infrastructure/modules/aurora_db/main.tf
Due: none

Aurora Serverless v2.0 implementation with SG and subnets
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
Due: none
