Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

chore: adjusts nav things
  apps/web/app/[locale]/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/components/unified-navbar.tsx
  apps/web/lib/secrets.ts
Due: web, unit

feat(web,infra): enable runtime secrets & auth config with AWS Lambda layer support (#381)
  apps/web/app/[locale]/blog/[slug]/page.tsx
  apps/web/app/[locale]/blog/page.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/actions/auth.ts
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/login-form.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/hooks/experiment/useExperiment/useExperiment.ts
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
  apps/web/hooks/experiment/useExperimentDelete/useExperimentDelete.ts
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  apps/web/hooks/experiment/useExperimentMemberRemove/useExperimentMemberRemove.ts
  apps/web/hooks/experiment/useExperimentMembers/useExperimentMembers.ts
  apps/web/hooks/experiment/useExperimentUpdate/useExperimentUpdate.ts
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  apps/web/hooks/useUserSearch.ts
  apps/web/lib/auth.ts
  apps/web/lib/secrets.ts
  apps/web/middleware.ts
  apps/web/providers/QueryProvider.tsx
  apps/web/tsconfig.json
  infrastructure/env/dev/main.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  packages/auth/src/adapter.ts
  packages/auth/src/config.ts
  packages/auth/src/express.ts
  packages/auth/src/next.ts
  packages/database/src/database.ts
  packages/database/src/migrate.ts
Due: web, unit

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
Due: none

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: dns, cdn & routing for backend
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/opennext-lambda/empty-function.zip
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat(infra): restricts lambda invokeurl permissions
  infrastructure/env/dev/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
Due: none

chore: cleanup
  infrastructure/modules/opennext-lambda/empty-function.zip
Due: none

feat: frontend tweaks, distribution origins, body-hashing lambda@edge, env var adjustments & other things
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/platform/signout/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/new-experiment/new-experiment-members-card.tsx
  apps/web/components/signout-dialog.tsx
  apps/web/lib/auth.ts
  apps/web/lib/secrets.ts
  apps/web/lib/tsr.ts
  apps/web/package.json
  apps/web/public/robots.txt
  infrastructure/env/dev/main.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/vpc/main.tf
  package.json
  packages/auth/src/config.ts
  packages/auth/src/next.ts
  packages/database/src/database.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

chore: fmt
  apps/web/app/[locale]/platform/signout/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  packages/auth/src/config.ts
  packages/auth/src/next.ts
  packages/database/src/database.ts
Due: web, unit

feat: adjusts session handling
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/components/unified-navbar.tsx
Due: web, unit

chore: lint & adjustments
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/platform/signout/page.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/new-experiment/new-experiment-members-card.tsx
  apps/web/components/signout-dialog.tsx
  apps/web/components/unified-navbar.tsx
Due: web, unit

cleanup
  apps/web/lib/tsr.ts
Due: web, unit

feat(infra): restricts lambda invoke permissions with aws_iam, sign-out flow & cloudfront adjustments (#383)
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/platform/signout/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/signout-dialog.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/lib/auth.ts
  apps/web/lib/secrets.ts
  apps/web/package.json
  apps/web/public/robots.txt
  infrastructure/env/dev/main.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/vpc/main.tf
  package.json
  packages/auth/src/config.ts
  packages/auth/src/next.ts
  packages/database/src/database.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

feat(web): Experiment Data Tables
  apps/web/app/[locale]/platform/data-test/[id]/[tableName]/page.tsx
  apps/web/app/[locale]/platform/data-test/[id]/page.tsx
  apps/web/app/[locale]/platform/data-test/page.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: web, unit

feat(web): Experiment Data Tables (WIP)
  apps/web/app/[locale]/platform/data-test/[id]/page.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

refactor(navbar): refactor logout logic and improve UX with translation updates
  apps/web/components/nav-user.tsx
  apps/web/components/unified-navbar.tsx
  packages/auth/package.json
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/locales/nl-NL/navigation.json
  pnpm-lock.yaml
Due: web, unit

feat(web): Added caching
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

refactor(navbar): refactor logout logic and improve UX with translation updates (#395)
  apps/web/components/nav-user.tsx
  apps/web/components/unified-navbar.tsx
  packages/auth/package.json
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/locales/nl-NL/navigation.json
  pnpm-lock.yaml
Due: web, unit

feat: integrates contentful secrets with secret manager & lambda extension
  apps/web/app/[locale]/blog/[slug]/page.tsx
  apps/web/app/[locale]/blog/page.tsx
  apps/web/env.ts
  apps/web/lib/contentful.ts
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  packages/cms/src/codegen.ts
  packages/cms/src/index.ts
  packages/cms/src/lib/client.ts
  packages/cms/src/lib/types.ts
Due: web, unit

feat(infra): adds arn to iam policy
  infrastructure/modules/opennext/main.tf
Due: none

chore: frontend adjustments
  apps/web/app/[locale]/blog/not-found.tsx
Due: web, unit

feat: adjusts cms package configs
  packages/cms/eslint.config.js
  packages/cms/package.json
  packages/cms/tsconfig.json
Due: none

feat: adds package to transpilePackage
  apps/web/next.config.js
Due: none

feat: adds react19 project-wide resolution
  package.json
Due: none

chore: aligns next versions & fresh pnpm-lock
  packages/cms/package.json
  pnpm-lock.yaml
Due: none

cleanup
  packages/cms/src/codegen.ts
Due: none

feat(auth): implement logout API with GET and POST methods for improved user experience
  apps/web/app/api/logout/route.ts
  apps/web/components/nav-user.tsx
  apps/web/components/unified-navbar.tsx
Due: web, unit

fix(logout): validate backUrl in GET request and update logout link cursor style
  apps/web/app/api/logout/route.ts
  apps/web/components/nav-user.tsx
Due: web, unit

Update apps/web/components/unified-navbar.tsx
  apps/web/components/unified-navbar.tsx
Due: web, unit

fix(navbar): update backUrl logic for logout to ensure correct navigation path
  apps/web/components/nav-user.tsx
  apps/web/components/unified-navbar.tsx
Due: web, unit

adjustmnts
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/blog/not-found.tsx
  apps/web/app/[locale]/layout.tsx
  infrastructure/env/dev/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext/main.tf
Due: web, unit

feat: custom cache policy
  infrastructure/modules/opennext-cloudfront/main.tf
Due: none

Properly display measurement table
  apps/mobile/src/app/(tabs)/experiments.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/configured-query-client-provider.tsx
  apps/mobile/src/hooks/use-experiments-data.ts
  apps/mobile/src/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/screens/experiments-screen/experiments-screen.tsx
  apps/mobile/src/utils/format-short-date.ts
  apps/mobile/src/utils/generate-pseudo-uuid.ts
  apps/mobile/src/utils/map-rows-to-measurements.ts
  pnpm-lock.yaml
Due: mobile, unit

Cleanup description before displaying
  apps/mobile/package.json
  apps/mobile/src/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/utils/ellipsize.ts
  apps/mobile/src/utils/extract-text-from-html.ts
Due: mobile, unit

Centralize toast through context
  apps/mobile/src/app/(tabs)/measurement.ts
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/configured-query-client-provider.tsx
  apps/mobile/src/context/toast-context.tsx
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  pnpm-lock.yaml
Due: mobile, unit

Reimplement useDevices hook using react query
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
Due: mobile, unit

Handle measuring state
  apps/mobile/src/components/MeasurementResult.tsx
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
Due: mobile, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
