Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

Implement 3 protocols
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/protocols/definitions/index.ts
  apps/mobile/src/protocols/definitions/par.ts
  apps/mobile/src/protocols/definitions/phi2.ts
  apps/mobile/src/protocols/definitions/spad.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/screens/measurement-screen/utils/get-protocols-dropdown-options.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
Due: mobile, unit

Integrate uploading
  apps/mobile/src/hooks/use-measurement-upload.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/services/mqtt/send-mqtt-event.ts
  apps/mobile/src/utils/get-multispeq-mqtt-topic.ts
Due: mobile, unit

Fix toast warning and clear data on protocol change
  apps/mobile/src/components/Toast.tsx
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
Due: mobile, unit

Remove scrollview from measurements screen
  apps/mobile/src/screens/experiments-screen/experiments-screen.tsx
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
Due: mobile, unit

Connect through serial port
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/screens/old-app/serial-port-connection-screen.android.tsx
  apps/mobile/src/services/multispeq-communication/android-serial-port-connection/open-serial-port-connection.ts
Due: mobile, unit

Refactor connection selectors
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/screens/measurement-screen/components/connection-type-selector.tsx
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
Due: mobile, unit

Introduce mock device support
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/protocols/definitions/par.ts
  apps/mobile/src/protocols/definitions/phi2.ts
  apps/mobile/src/protocols/definitions/spad.ts
  apps/mobile/src/screens/measurement-screen/components/connection-type-selector.tsx
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/services/multispeq-communication/mock-device/list-mock-devices.ts
  apps/mobile/src/services/multispeq-communication/mock-device/mock-command-executor.ts
Due: mobile, unit

Improve unsynced measurements list
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/Toast.tsx
  apps/mobile/src/components/UnsyncedScanItem.tsx
  apps/mobile/src/hooks/use-auth.ts
  apps/mobile/src/hooks/use-failed-uploads.ts
  apps/mobile/src/hooks/use-measurement-upload.ts
  apps/mobile/src/hooks/use-network-status.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/services/failed-uploads-storage.ts
  apps/mobile/src/services/multispeq-communication/mock-device/list-mock-devices.ts
  apps/mobile/src/services/multispeq-communication/mock-device/mock-command-executor.ts
  pnpm-lock.yaml
Due: mobile, unit

Allow for items to be deleted and synced one by one
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/hooks/use-failed-uploads.ts
  apps/mobile/src/hooks/use-measurement-upload.ts
Due: mobile, unit

Fix upload error message
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/hooks/use-failed-uploads.ts
Due: mobile, unit

Implement open web profile button
  apps/mobile/src/app/(tabs)/profile.tsx
Due: mobile, unit

Better bluetooth device name to match the device sticker
  apps/mobile/src/hooks/use-devices.ts
Due: mobile, unit

Add a highly complex protocol
  apps/mobile/src/protocols/definitions/index.ts
  apps/mobile/src/protocols/definitions/upd14-example.ts
  apps/mobile/src/protocols/definitions/upd14.ts
  apps/mobile/src/services/multispeq-communication/multispeq-command-executor.ts
Due: mobile, unit

feat(web): Added translations
  apps/web/app/[locale]/platform/data-test/[id]/[tableName]/page.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
  packages/i18n/locales/en-US/common.json
Due: web, unit

chore: adjustments
  apps/web/lib/contentful.ts
  packages/cms/package.json
Due: web, unit

feat(web): Added translations
  apps/web/components/experiment-data-table.tsx
  packages/i18n/locales/en-US/common.json
Due: web, unit

feat(web,infra): integrates contentful secrets with secret manager & lambda extension (#394)
  apps/web/app/[locale]/blog/[slug]/page.tsx
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/blog/not-found.tsx
  apps/web/app/[locale]/blog/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/env.ts
  apps/web/lib/contentful.ts
  apps/web/next.config.js
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  package.json
  packages/cms/eslint.config.js
  packages/cms/package.json
  packages/cms/src/codegen.ts
  packages/cms/src/index.ts
  packages/cms/src/lib/client.ts
  packages/cms/src/lib/types.ts
  packages/cms/tsconfig.json
  pnpm-lock.yaml
Due: web, unit

chore: rm log line
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

work etc.
  apps/backend/.env.test
  apps/backend/src/common/config/databricks.config.ts
  apps/backend/src/common/guards/api-key.guard.spec.ts
  apps/backend/src/common/guards/api-key.guard.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.spec.ts
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.spec.ts
  apps/backend/src/experiments/presentation/databricks-webhook.controller.ts
  apps/docs/package.json
  apps/docs/static/api/rest/openapi.json
  infrastructure/notebooks/tasks/experiment_status_update_task.py
  packages/api/src/contract.ts
  packages/api/src/contracts/webhook.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/webhook.schema.ts
Due: backend, unit

chore: rm logging
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

chore: minor adjustments
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat(web): Refactoring
  apps/web/app/[locale]/platform/data-test/[id]/[tableName]/page.tsx
  apps/web/app/[locale]/platform/data-test/[id]/page.tsx
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
Due: web, unit

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/outputs.tf
Due: none

feat: Enhance Home Page with New Components and Layout
  apps/web/app/[locale]/about/page.tsx
  apps/web/app/[locale]/faq/page.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/policies/page.tsx
  apps/web/components/language-switcher.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/next.config.js
  packages/cms/package.json
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/home/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/index.ts
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/index.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: web, unit

chore: adjustments
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

adjustments
  infrastructure/env/dev/main.tf
Due: none

chore: removes unused spark conf
  infrastructure/env/dev/main.tf
Due: none

feat: adjustments
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

chore: cleanup
  apps/backend/src/experiments/application/use-cases/update-provisioning-status/update-provisioning-status.ts
Due: backend, unit

feat(web): Cleanup
  apps/web/components/experiment-data-table.tsx
Due: web, unit

feat: enhance experiment data hooks with pagination support and improve column persistence in data table
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

feat(web): Fixed loading message
  apps/web/components/experiment-data-table.tsx
Due: web, unit

Refactor code structure for improved readability and maintainability
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/about/page.tsx
  apps/web/app/[locale]/policies/layout.tsx
  apps/web/app/[locale]/policies/page.tsx
  package.json
  packages/cms/package.json
  packages/cms/src/features/about.tsx
  packages/cms/src/features/home/footer.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/pageAbout.graphql
  packages/cms/src/lib/graphql/pagePolicies.graphql
  pnpm-lock.yaml
Due: web, unit

feat(web): Improved column width
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
Due: web, unit

feat: add PageFaq and ComponentFaqQuestion types with GraphQL queries and fragments
  apps/web/app/[locale]/faq/layout.tsx
  apps/web/app/[locale]/faq/page.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/pageFaq.graphql
Due: web, unit

Updated docusaurus from 3.7.0 to 3.8.1 due to build issues
  apps/docs/package.json
  pnpm-lock.yaml
Due: none

fix: Updated docusaurus from 3.7.0 to 3.8.1 due to build issues (#400)
  apps/docs/package.json
  pnpm-lock.yaml
Due: none
