Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

testing policy
  .github/workflows/deployment-template.yml
Due: none

feat(infra): Updating the Cognito Pools perm. for deploy policy (#261)
  infrastructure/modules/iam-oidc/main.tf
Due: none

fix(infra): Fix/pr workflow 251 (#259)
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
  .github/workflows/deployment-template_OLD.yml
  .github/workflows/pr.yml
  infrastructure/env/dev/variables.tf
Due: none

debug
  .github/actions/blt/action.yml
Due: none

feat(web): Enhanced create experiment flow (#249)
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/create-experiment.tsx
  apps/web/components/new-experiment.tsx
  apps/web/util/schema.ts
Due: web, unit

debug 2
  .github/actions/blt/action.yml
Due: none

debug3
  .github/actions/blt/action.yml
Due: none

debug4
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
Due: none

debug5
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
Due: none

debug6
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
Due: none

debug7
  .github/actions/blt/action.yml
Due: none

debug8
  .github/actions/blt/action.yml
Due: none

fix typo in iam-oidc
  .github/workflows/deployment-template.yml
  infrastructure/modules/iam-oidc/main.tf
Due: none

fix typo in iam-oidc
  infrastructure/modules/iam-oidc/main.tf
Due: none

fix typo in iam-oidc
  infrastructure/env/dev/main.tf
  infrastructure/modules/iam-oidc/variables.tf
Due: none

add var def. so it can passed
  infrastructure/env/dev/main.tf
  infrastructure/modules/iam-oidc/variables.tf
Due: none

fix(infra): Bugfix/tf typo-264 (#265)
  infrastructure/env/dev/main.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/iam-oidc/variables.tf
Due: none

add role & Region in pr.yml when calling tofu action
  .github/workflows/pr.yml
Due: none

feat(infra): Add Role & Region in pr.yml when calling tofu action (#266)
  .github/workflows/pr.yml
Due: none

empty line
  .github/workflows/dev-deploy.yml
Due: none

test pipe
  .github/workflows/deployment-template.yml
Due: none

test with pr yml
  .github/workflows/deployment-template.yml
Due: none

add temp dispatch
  .github/workflows/pr.yml
Due: none

feat(cdcd): Add temp dispatch to PR workflow (#269)
  .github/workflows/pr.yml
Due: none

debug
  .github/workflows/pr.yml
Due: none

feat(web): Show user information for logged in user
  apps/web/components/app-layout.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/nav-user.tsx
Due: web, unit

debug version tofu
  .github/workflows/pr.yml
Due: none

feat: refines experiment api
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  packages/database/drizzle/0000_confused_scarecrow.sql
  packages/database/drizzle/meta/0000_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, unit

feat(api): adds status query param to list experiments
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

cleanup
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
Due: backend, unit

chore: format
  apps/web/components/create-experiment.tsx
Due: web, unit

chore: generates api
  apps/docs/static/api/rest/openapi.json
Due: none

feat: refines experiment api
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
