Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

Got main working
  apps/mobile/.npmrc
  apps/mobile/package.json
  pnpm-lock.yaml
Due: mobile, unit

Cleanup login screen
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/index.tsx
Due: mobile, unit

Handle login, logout, persisting login serssion, displaying session info
  apps/mobile/app.json
  apps/mobile/src/api/get-session-data.ts
  apps/mobile/src/api/hooks/use-login.ts
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/index.tsx
  apps/mobile/src/auth/login.ts
  apps/mobile/src/hooks/use-session-store.ts
  apps/mobile/src/utils/format-iso-date-string.ts
  apps/mobile/src/widgets/login-widget.tsx
  apps/mobile/tsconfig.json
  apps/web/app/api/auth/mobile-redirect/route.ts
  pnpm-lock.yaml
Due: web, mobile, unit

Convert measurements to table
  apps/mobile/src/app/(tabs)/experiments.tsx
Due: mobile, unit

Remove unused styles
  apps/mobile/src/app/(tabs)/experiments.tsx
Due: mobile, unit

Undo unused styles removal
  apps/mobile/src/app/(tabs)/experiments.tsx
Due: mobile, unit

Update dropdown to support searching
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/components/Dropdown.tsx
Due: mobile, unit

reworks model
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
Due: none

feat(infra): enables route53 dns resolutions & domain mapping
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
Due: none

Start integrating using tsr
  apps/mobile/package.json
  apps/mobile/src/api/tsr.ts
  apps/mobile/tsconfig.json
  pnpm-lock.yaml
Due: mobile, unit

Fix bottom bar icons
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/_layout.tsx
Due: mobile, unit

Fetch experiments from API
  apps/mobile/src/api/hooks/use-experiments-dropdown-options.ts
  apps/mobile/src/api/tsr.ts
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/app/(tabs)/measurement.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/Dropdown.tsx
Due: mobile, unit

feat: optimize member management by using useMemo for members and available users
  apps/web/components/new-experiment.tsx
Due: web, unit

feat: extended new experiment with add members + fixed merge conflicts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/[locale]/layout.tsx
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment.tsx
  apps/web/package.json
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  pnpm-lock.yaml
Due: backend, web, unit

fix: adjust layout component to center content and update sidebar inset to use div instead of main
  apps/web/app/[locale]/platform/layout.tsx
  packages/ui/src/components/sidebar.tsx
Due: web, unit

feat(auth): add SessionProvider and useSession exports for authentication
  apps/web/app/[locale]/layout.tsx
  packages/auth/package.json
  packages/auth/src/client.ts
Due: web, unit

feat(auth): add SessionProvider and useSession exports for authentication (#369)
  apps/web/app/[locale]/layout.tsx
  packages/auth/package.json
  packages/auth/src/client.ts
Due: web, unit

feat: refactor experiment member management to support batch addition + updated tests
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.spec.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

fix: adjust layout component to center content and update sidebar inset to use div instead of main (#368)
  apps/web/app/[locale]/platform/layout.tsx
  packages/ui/src/components/sidebar.tsx
Due: web, unit

cleanup
  .github/workflows/pr.yml
Due: none

test of a fix
  .github/workflows/pr.yml
Due: none

comment out vars
  .github/workflows/pr.yml
Due: none

undo
  .github/workflows/pr.yml
Due: none

bring back the --filter switch
  .github/actions/blt/action.yml
Due: none

test of a fix 2
  .github/actions/blt/action.yml
Due: none

fix(infra): Fix PR workflow (#371)
  .github/workflows/pr.yml
Due: none

changes in env, turbo ref filter
  .github/workflows/pr.yml
Due: none

changes in filter
  .github/actions/blt/action.yml
Due: none

fix(infra): changes in env, turbo ref filter (#372)
  .github/actions/blt/action.yml
  .github/workflows/pr.yml
Due: none

feat: dedicated workflow to detect affected apps
  .github/actions/blt/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

feat: dedicated action to detect affected apps
  .github/actions/identify-affected/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

feat: dedicated action to detect affected apps
  .github/actions/identify-affected/action.yml
Due: none

feat(cicd): dedicated action to detect affected apps (#374)
  .github/actions/blt/action.yml
  .github/actions/identify-affected/action.yml
  .github/workflows/pr.yml
Due: none

feat: dedicated workflow to detect affected apps
  .github/actions/identify-affected/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

feat(cicd): dedicated workflow to detect affected apps (#375)
  .github/actions/identify-affected/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
