Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

revert(backend): restore backend to state of 807619d (18 commits prior)
  apps/backend/package.json
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
Due: backend, unit

feat: Enhance flow management with question step
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/question-card.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/flow-utils.ts
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
Due: web, unit

feat: Implement node and edge side panels with dynamic content + refactoring of the code
  apps/web/components/base-handle.tsx
  apps/web/components/base-node.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/question-card.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/initial-data.ts
  apps/web/components/react-flow/node-config.ts
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/react-flow/node-handles.tsx
  apps/web/components/side-panel-flow.tsx
  apps/web/components/side-panel-flow/edge-panel.tsx
  apps/web/components/side-panel-flow/instruction-panel.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
Due: web, unit

feat(flow-editor): implement FlowMapper for API to React Flow conversion
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/flow-editor/__tests__/flow-conversion.test.ts
  apps/web/components/flow-editor/__tests__/flow-mapper.test.ts
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/flow-editor/flow-mapper.ts
  apps/web/components/flow-editor/index.ts
  apps/web/components/protocol-search-with-dropdown.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/flow-utils.ts
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/side-panel-flow/analysis-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
  apps/web/components/static-flow-viewer/index.ts
  apps/web/components/static-flow-viewer/static-flow-viewer.tsx
  apps/web/hooks/experiment/useExperimentFlow/useExperimentFlow.ts
  apps/web/hooks/experiment/useExperimentFlowCreate/useExperimentFlowCreate.ts
  apps/web/hooks/experiment/useExperimentFlowUpdate/useExperimentFlowUpdate.ts
  apps/web/hooks/flow/index.ts
  packages/i18n/locales/en-US/experiments.json
Due: web, unit

feat(flow-editor): enhance flow mapping with new question types and context provider
  apps/web/components/flow-editor/__tests__/flow-mapper.test.ts
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/flow-editor/flow-mapper.ts
  packages/api/src/schemas/experiment.schema.ts
Due: web, unit

feat(experiment-layout): add reusable access-controlled link renderer for tabs
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
Due: web, unit

fix
  apps/web/components/flow-editor/flow-editor.tsx
Due: web, unit

fix: replace BarChart2 icon with ChartColumn in analysis node type
  apps/web/components/new-experiment/new-experiment-flow.tsx
Due: web, unit

wip2
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/get-flow-with-graph.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/index.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/hooks/flow/index.ts
  apps/web/hooks/flow/useFlowWithGraph/index.ts
  apps/web/hooks/flow/useFlowWithGraph/useFlowWithGraph.ts
Due: backend, web, unit

refactor: Remove unused GetFlowWithGraph use case and related files
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/get-flow-with-graph.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/index.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
Due: backend, unit

feat(flow-editor): add 'required' property to question schemas for better validation
  apps/web/components/flow-editor/flow-mapper.ts
  packages/api/src/schemas/experiment.schema.ts
Due: web, unit

fix: update drizzle-zod version to 0.5.1 and adjust peer dependencies
  pnpm-lock.yaml
Due: none

Refactor experiment overview page to use FlowEditor and update translations
  apps/web/app/[locale]/platform/experiment/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/question-card.tsx
  apps/web/components/side-panel-flow/analysis-panel.tsx
  apps/web/components/side-panel-flow/edge-panel.tsx
  apps/web/components/side-panel-flow/instruction-panel.tsx
  apps/web/components/side-panel-flow/measurement-panel.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
  package.json
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
  packages/i18n/locales/nl-NL/experiments.json
  packages/ui/src/components/rich-textarea.tsx
Due: web, unit

refactor: remove unused drizzle error utility functions and tests
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
Due: backend, unit

feat: Add Experiment Flow page and localization support
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
  packages/i18n/locales/nl-NL/experiments.json
Due: web, unit

feat: add comprehensive Drizzle ORM error handling utilities and update drizzle packages (#493)
  apps/backend/package.json
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: backend, unit

fix: downgrade drizzle-orm and drizzle-kit dependencies for compatibility
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: none

feat(test-harness): add 'required' property to question content for improved validation
  apps/backend/src/test/test-harness.ts
Due: none

chore: remove not used deps
  apps/web/package.json
  pnpm-lock.yaml
Due: web, unit

fix
  pnpm-lock.yaml
Due: none

adjusts
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat(infra): integrates databricks experiment provisioning infra with status update & waf rate_limit update (#398)
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat(ci): add Codecov integration for coverage reporting
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
Due: none

test: add comprehensive tests for useDebounce hook functionality
  apps/web/hooks/useDebounce.test.tsx
Due: web, unit

test: add unit tests for GetExperimentAccessUseCase functionality
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.spec.ts
Due: backend, unit

feat: add initial Codecov configuration for coverage reporting
  codecov.yml
Due: none

refactor: remove unused Logger import from get-experiment-access tests
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.spec.ts
Due: backend, unit

feat: enhance Codecov configuration with automatic flag management and refined coverage settings
  codecov.yml
Due: none

feat: add Codecov section with badge to README for coverage visibility
  README.md
Due: none

feat(ci): add Codecov integration for coverage reporting (#530)
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
  README.md
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.spec.ts
  apps/web/hooks/useDebounce.test.tsx
  codecov.yml
Due: backend, web, unit

chore(infra): reduces amount of tf vars
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/s3/outputs.tf
Due: none

comment out
  .github/workflows/pr.yml
Due: none

ci: reduces amount of tf vars further, refines tofu ci step
  .github/actions/tofu/action.yml
  .github/actions/tofu/tofu-fmt-check/action.yml
  .github/actions/tofu/tofu-init-validate/action.yml
  .github/actions/tofu/tofu-plan/action.yml
  .github/actions/tofu/tofu-setup/action.yml
  .github/workflows/pr.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/ecs/variables.tf
Due: none

adds concurrency to pr workflow
  .github/workflows/pr.yml
Due: none

copilot suggestion shrug
  infrastructure/modules/ecs/variables.tf
Due: none

feat(i18n): update translations for experiments and common components
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/protocol-search-with-dropdown.tsx
  apps/web/components/question-card.tsx
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/side-panel-flow/analysis-panel.tsx
  apps/web/components/side-panel-flow/edge-panel.tsx
  apps/web/components/side-panel-flow/instruction-panel.tsx
  apps/web/components/side-panel-flow/measurement-panel.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/experiments.json
Due: web, unit

fix
  apps/web/components/new-experiment/new-experiment-flow.tsx
Due: web, unit

refactor(flow-editor, legend-flow): simplify LegendFlow component usage and remove unnecessary props
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
Due: web, unit

fix
  apps/web/components/legend-flow.tsx
Due: web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
