Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

feat(web): Cleanup and fixed loading rows
  apps/web/components/experiment-data-table.tsx
  packages/i18n/locales/en-US/common.json
Due: web, unit

feat(web): Layout improvements
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
  packages/i18n/locales/en-US/common.json
Due: web, unit

fix(web): Fix success toast for new experiment
  apps/web/components/new-experiment/new-experiment.tsx
Due: web, unit

feat(web): Cleanup
  apps/web/hooks/experiment/useExperimentData/useExperimentData.ts
Due: web, unit

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

feat: add PageHomeHero and PageHomeMission types and queries
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/pageHomeHero.graphql
  packages/cms/src/lib/graphql/pageHomeMission.graphql
Due: web, unit

fix(web): Fix success toast for new experiment (#401)
  apps/web/components/new-experiment/new-experiment.tsx
Due: web, unit

feat(web): Moves the tables to the experiment data section
  apps/web/app/[locale]/platform/data-test/[id]/[tableName]/page.tsx
  apps/web/app/[locale]/platform/data-test/[id]/page.tsx
  apps/web/app/[locale]/platform/data-test/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
  packages/i18n/locales/en-US/common.json
Due: web, unit

chore(web): Temporary removed embargoDays as the implementation is pending on the backend
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
Due: web, unit

chore(web): Temporary removed embargoDays as the implementation is pending on the backend (#404)
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
Due: web, unit

feat: add PageHomeFeatures and ComponentFeature types with GraphQL queries and fragments
  apps/web/app/[locale]/page.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/pageHomeFeatures.graphql
Due: web, unit

feat: protocols domain
  apps/backend/src/protocols/core/models/protocol.model.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/new/page.tsx
  apps/web/app/[locale]/platform/protocols/page.tsx
  apps/web/components/list-protocols.tsx
  apps/web/components/new-protocol/index.ts
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-code-editor.tsx
  apps/web/hooks/experiment/index.ts
  apps/web/hooks/index.ts
  apps/web/hooks/protocol/index.ts
  apps/web/hooks/protocol/useProtocol/index.ts
  apps/web/hooks/protocol/useProtocolCreate/index.ts
  apps/web/hooks/protocol/useProtocolDelete/index.ts
  apps/web/hooks/protocol/useProtocolUpdate/index.ts
  apps/web/hooks/protocol/useProtocols/index.ts
  apps/web/package.json
  packages/api/src/contracts/protocol.contract.ts
  packages/api/src/schemas/protocol.schema.ts
  pnpm-lock.yaml
Due: backend, web, unit

fix: update auth import path in ProtocolPage component
  apps/web/app/[locale]/platform/protocols/page.tsx
Due: web, unit

feat: Add sensor family to protocols and improve protocol settings UI
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/delete-protocol/delete-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/get-protocol/get-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/list-protocols/list-protocols.spec.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/presentation/protocol.controller.spec.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  apps/web/app/[locale]/platform/protocols/[id]/layout.tsx
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/[id]/settings/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/json-code-viewer.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-code-editor.tsx
  apps/web/components/protocol-settings/index.ts
  apps/web/components/protocol-settings/protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-info-card.tsx
  apps/web/components/protocol-settings/protocol-settings.tsx
  apps/web/util/schema.ts
  packages/api/src/schemas/protocol.schema.ts
  packages/database/drizzle/0003_nasty_quicksilver.sql
  packages/database/drizzle/meta/0003_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/locales/nl-NL/navigation.json
Due: backend, web, unit

Restrict protocol settings access to creator only
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/protocols/presentation/protocol.controller.spec.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  apps/web/app/[locale]/platform/protocols/[id]/layout.tsx
  apps/web/app/[locale]/platform/protocols/[id]/settings/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  packages/api/src/schemas/protocol.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: backend, web, unit

chore: rebase pnpm lock
  pnpm-lock.yaml
Due: none

chore: cleanup & generate migrations
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  packages/database/drizzle/0003_chunky_cyclops.sql
  packages/database/drizzle/meta/0003_snapshot.json
  packages/database/drizzle/meta/_journal.json
Due: backend, unit

chore: cleanup
  apps/web/components/protocol-code-editor.tsx
Due: web, unit

feat: Add PageHomePartners and ComponentPartner types with corresponding queries and fragments
  apps/web/app/[locale]/page.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/pageHomePartners.graphql
Due: web, unit

feat(web): Add magic link email provider for login
  apps/web/components/login-form.tsx
  packages/auth/package.json
  packages/auth/src/next.ts
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: web, unit

feat(web): Added translations for German and Dutch
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/nl-NL/common.json
Due: none

fix(web): Removed console.log statement
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
Due: web, unit

fix(web): remove description column from protocols table
  apps/web/components/list-protocols.tsx
Due: web, unit

fix(web): removed description column from protocols table (#417)
  apps/web/components/list-protocols.tsx
Due: web, unit

feat(web,backend): Changed data format for rows returned in data tables
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/web/components/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data-table.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

Fix toast
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/context/toast-context.tsx
  apps/mobile/src/utils/map-rows-to-measurements.ts
  pnpm-lock.yaml
Due: mobile, unit

Bump version
  apps/mobile/app.json
Due: mobile, unit

feat: add Footer type and query to GraphQL SDK
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/about/page.tsx
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/[locale]/faq/layout.tsx
  apps/web/app/[locale]/faq/page.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/policies/layout.tsx
  apps/web/app/[locale]/policies/page.tsx
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/home/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/footer.graphql
Due: web, unit

cleaned up code
  apps/web/app/[locale]/page.tsx
  apps/web/components/blog/footer.tsx
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/index.ts
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/index.ts
Due: web, unit

fixed p tag error
  packages/cms/src/features/home/mission.tsx
Due: none

Refactor GraphQL fragments to include sys fields for ComponentButton
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/policies.tsx
  packages/cms/src/lib/__generated/graphql.schema.graphql
  packages/cms/src/lib/__generated/graphql.schema.json
  packages/cms/src/lib/__generated/sdk.ts
  packages/cms/src/lib/graphql/footer.graphql
  packages/cms/src/lib/graphql/pageHomeHero.graphql
Due: none

feat: enhance HomePartners and add VisualMedia component for improved image handling
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/home/visual-media.tsx
Due: none

fix: added rounded borders to the visual media container
  packages/cms/src/features/home/visual-media.tsx
Due: none

fix: update key props to use unique identifiers for buttons and features
  packages/cms/src/features/home/hero.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/partners.tsx
Due: none

fix
  apps/web/app/[locale]/page.tsx
Due: web, unit

fix: update inspector mode tagging to use current data for entry IDs
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/policies.tsx
Due: none

refactor: improve layout structure and rendering logic across About, Faq, Policies, and Home components
  apps/web/app/[locale]/about/layout.tsx
  apps/web/app/[locale]/about/page.tsx
  apps/web/app/[locale]/faq/layout.tsx
  apps/web/app/[locale]/faq/page.tsx
  apps/web/app/[locale]/policies/layout.tsx
  apps/web/app/[locale]/policies/page.tsx
  packages/cms/src/features/about.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/policies.tsx
Due: web, unit
