Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

feat: add ExperimentMemberManagement component for managing experiment members
  apps/web/components/experiment-settings/experiment-member-management-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
Due: web, unit

initial update from draft
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-backend_OLD.yml
Due: none

feat: enhance user search functionality with localized messages and date formatting
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-settings/experiment-info-card.tsx
  apps/web/components/user-search-popover.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

Update .gitignore
  .gitignore
Due: none

feat: extended new experiment with add members (#367)
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/experiment-settings/experiment-info-card.tsx
  apps/web/components/experiment-settings/experiment-member-management-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/experiment-settings/index.ts
  apps/web/components/new-experiment.tsx
  apps/web/components/new-experiment/index.ts
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-members-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/user-search-popover.tsx
  apps/web/components/user-search-with-dropdown.tsx
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  pnpm-lock.yaml
Due: backend, web, unit

updated cofde
  .github/actions/backend-deployment/check-aws-region/action.yml
  .github/actions/backend-deployment/check-docker-file/action.yml
  .github/workflows/deploy-backend.yml
Due: none

add Setting turbo ref var
  .github/workflows/pr.yml
Due: none

feat(infra): Fixing PR flow (#378)
  .github/workflows/pr.yml
Due: none

updated code
  .github/actions/database_migrations/extraction_ouptuts/action.yml
  .github/workflows/database-migrations.yml
Due: none

wip
  .github/actions/database_migrations/check-aws-region/action.yml
  .github/workflows/database-migrations.yml
Due: none

wip2
  .github/actions/database_migrations/check-running-task/action.yml
  .github/actions/database_migrations/wait-for-task/action.yml
  .github/workflows/database-migrations.yml
Due: none

wip3
  .github/actions/database_migrations/wait-for-task/action.yml
Due: none

test commit
  .github/workflows/test.yml
Due: none

test change in docs app - overview.md
  apps/docs/docs/001-introduction/overview.md
Due: none

refactor: remove redundant validation, let database handle constraints
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  packages/database/drizzle/0003_mushy_johnny_storm.sql
  packages/database/drizzle/meta/0003_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, unit

format
  apps/docs/static/api/rest/openapi.json
  packages/database/drizzle/meta/0003_snapshot.json
  packages/database/drizzle/meta/_journal.json
Due: none

feat(infra): enables route53 dns resolutions & domain mapping
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
Due: none

feat(infra): hooks up opennext lambda to route53 & waf
  infrastructure/env/dev/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/outputs.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: dns, cdn & routing for backend
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/backend-cloudfront/outputs.tf
  infrastructure/modules/backend-cloudfront/variables.tf
  infrastructure/modules/opennext-lambda/empty-function.zip
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
Due: none

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
Due: none

feat(infra): hooks up static docs site to route53 & waf
  infrastructure/env/dev/main.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/waf/main.tf
Due: none

chore: cleanup
  infrastructure/modules/opennext-lambda/empty-function.zip
Due: none

chore: cleanup
  infrastructure/modules/vpc/main.tf
Due: none

chore: cleanup
  infrastructure/modules/backend-cloudfront/main.tf
Due: none

chore: cleanup
  infrastructure/env/dev/main.tf
Due: none

feat(infrastructure): enhances security with CloudFront and DNS integration (#351)
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/backend-cloudfront/outputs.tf
  infrastructure/modules/backend-cloudfront/variables.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/outputs.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat: enhance error handling in repository methods with detailed context and improved messages
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
Due: backend, unit

Add access control to experiment use cases and repositories
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/users/core/repositories/user.repository.ts
Due: backend, unit

Pass user ID to experiment use cases in controller methods
  apps/backend/src/experiments/presentation/experiment.controller.ts
Due: backend, unit

Pass testUserId to use case execute methods in experiment specs
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
Due: backend, unit

Add tests for apiErrorMapper and repository error mapping
  apps/backend/src/common/decorators/cookie.decorator.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
Due: backend, unit

Add tests for forbidden and error cases in experiment use cases
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
Due: backend, unit

Add tests for error handling and repository edge cases
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
Due: backend, unit

Ignore .zed editor config directory
  .gitignore
Due: none

Add env validation and centralize env access in web app
  apps/web/app/[locale]/blog/layout.tsx
  apps/web/app/api/enable-draft/route.ts
  apps/web/env.ts
  apps/web/tsconfig.json
  package.json
  turbo.json
Due: web, unit
