Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

fix: modified addMember
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
Due: backend, unit

v1
  apps/mobile/ARCHITECTURE.md
  apps/mobile/REFACTORING_SUMMARY.md
  apps/mobile/app.json
  apps/mobile/index.tsx
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/measurement-old.tsx
  apps/mobile/src/app/(tabs)/measurement.tsx
  apps/mobile/src/app/measurement-active-old.tsx
  apps/mobile/src/app/measurement-active.tsx
  apps/mobile/src/app/setup-old.tsx
  apps/mobile/src/app/setup.tsx
  apps/mobile/src/components/JIICard.tsx
  apps/mobile/src/components/MeasurementResult.tsx
  apps/mobile/src/components/measurement/ConnectionSetup.tsx
  apps/mobile/src/components/measurement/DeviceList.tsx
  apps/mobile/src/components/measurement/MeasurementLayout.tsx
  apps/mobile/src/components/measurement/MeasurementScreen.tsx
  apps/mobile/src/components/measurement/index.ts
  apps/mobile/src/hooks/useMeasurement.ts
  apps/mobile/src/types/measurement.ts
  apps/mobile/tsconfig.json
Due: mobile, unit

v2
  apps/mobile/REFACTORING_SUMMARY.md
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/measurement-old.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/design-system.tsx
  apps/mobile/src/app/measurement-active-old.tsx
  apps/mobile/src/app/measurement-active.tsx
  apps/mobile/src/app/setup-new.tsx
  apps/mobile/src/app/setup-old.tsx
  apps/mobile/src/app/setup.tsx
  apps/mobile/src/components/Dropdown.tsx
  apps/mobile/src/hooks/useDesignSystemLogic.ts
  apps/mobile/src/hooks/useDropdownLogic.ts
  apps/mobile/src/hooks/useExperimentsLogic.ts
  apps/mobile/src/hooks/useProfileLogic.ts
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/auth/index.ts
  apps/mobile/src/screens/auth/useAuthScreenLogic.ts
  apps/mobile/src/screens/design-system/DesignSystemScreen.tsx
  apps/mobile/src/screens/design-system/index.ts
  apps/mobile/src/screens/design-system/useDesignSystemLogic.ts
  apps/mobile/src/screens/experiments/ExperimentsScreen.tsx
  apps/mobile/src/screens/experiments/index.ts
  apps/mobile/src/screens/experiments/useExperimentsScreenLogic.ts
  apps/mobile/src/screens/home/HomeScreen.tsx
  apps/mobile/src/screens/home/index.ts
  apps/mobile/src/screens/home/useHomeScreenLogic.ts
  apps/mobile/src/screens/index.ts
  apps/mobile/src/screens/measurement/ActiveMeasurementScreen.tsx
  apps/mobile/src/screens/measurement/ConnectionSetupScreen.tsx
  apps/mobile/src/screens/measurement/index.ts
  apps/mobile/src/screens/measurement/useMeasurementScreenLogic.ts
  apps/mobile/src/screens/profile/ProfileScreen.tsx
  apps/mobile/src/screens/profile/index.ts
  apps/mobile/src/screens/profile/useProfileScreenLogic.ts
Due: mobile, unit

v3
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/design-system-clean.tsx
  apps/mobile/src/app/design-system.tsx
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/auth/index.ts
  apps/mobile/src/screens/design-system/index.ts
  apps/mobile/src/screens/experiments/ExperimentsScreen.tsx
  apps/mobile/src/screens/experiments/index.ts
  apps/mobile/src/screens/home/HomeScreen.tsx
  apps/mobile/src/screens/home/index.ts
  apps/mobile/src/screens/measurement/ActiveMeasurementScreen.tsx
  apps/mobile/src/screens/measurement/ConnectionSetupScreen.tsx
  apps/mobile/src/screens/measurement/index.ts
  apps/mobile/src/screens/profile/ProfileScreen.tsx
  apps/mobile/src/screens/profile/index.ts
Due: mobile, unit

v4
  apps/mobile/src/app/(tabs)/measurement-new.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/design-system-new.tsx
  apps/mobile/src/app/measurement-active-new.tsx
  apps/mobile/src/components/Card.tsx
  apps/mobile/src/components/DropdownNew.tsx
  apps/mobile/src/examples/useColorsExamples.tsx
  apps/mobile/src/hooks/README.md
  apps/mobile/src/hooks/useColors.ts
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/design-system/DesignSystemScreen.tsx
  apps/mobile/src/screens/experiments/ExperimentsScreen.tsx
  apps/mobile/src/screens/home/HomeScreen.tsx
  apps/mobile/src/screens/measurement/ActiveMeasurementScreen.tsx
  apps/mobile/src/screens/measurement/ConnectionSetupScreen.tsx
  apps/mobile/src/screens/profile/ProfileScreen.tsx
Due: mobile, unit

feat(infra): adds backend iac
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/outputs.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

fix: update userId references to user.id across experiment member functionality
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  apps/web/hooks/experiment/useExperimentMemberRemove/useExperimentMemberRemove.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

feat(web): Experiment data tables
  apps/web/app/openjii/data/page.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/mock/useExperimentMockData.ts
Due: web, unit

feat(web): Various mock data
  apps/web/app/openjii/data-test/[id]/page.tsx
  apps/web/app/openjii/data-test/page.tsx
  apps/web/app/openjii/data/page.tsx
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/mock/useExperimentMockData.ts
Due: web, unit

fix: improved the layout responsiveness for name and email in member list
  apps/web/components/current-members-list.tsx
Due: web, unit

fix: remove userId from select statements in getMembers and addMember methods
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
Due: backend, unit

fix: enhance experiment member schemas and repository to include user details (#337)
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  apps/web/hooks/experiment/useExperimentMemberRemove/useExperimentMemberRemove.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

feat(web): Improvements
  apps/web/components/experiment-data-table.tsx
  apps/web/hooks/experiment/mock/useExperimentMockData.ts
Due: web, unit

v3
  apps/web/app/[locale]/login/page.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/settings/page.tsx
  apps/web/app/[locale]/platform/experiments/new/page.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/platform/page.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/app/openjii/experiments/new/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/app-breadcrumbs.tsx
  apps/web/components/app-layout.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/experiment-table-rows.tsx
  apps/web/components/nav-items.tsx
  apps/web/components/new-experiment.tsx
  apps/web/components/translations-provider.tsx
  apps/web/middleware.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/experimentData.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/experimentData.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/src/client.ts
  packages/i18n/src/config.ts
  packages/i18n/tsconfig.json
Due: web, unit

v1
  .gitignore
  apps/mobile/app.json
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/language-switcher.tsx
  apps/web/components/translations-provider.tsx
  apps/web/middleware.ts
  apps/web/package.json
  package.json
  packages/i18n/README.md
  packages/i18n/eslint.config.js
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/dashboard.json
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/dashboard.json
  packages/i18n/locales/en-US/experiments.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/package.json
  packages/i18n/src/client.ts
  packages/i18n/src/config.ts
  packages/i18n/src/index.ts
  packages/i18n/src/server.ts
  packages/i18n/tsconfig.json
  packages/ui/package.json
  pnpm-lock.yaml
  tooling/eslint/package.json
  tooling/tailwind/package.json
Due: web, mobile, unit

v2
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/_components/auth-showcase.tsx
  apps/web/app/page.tsx
  apps/web/components/app-breadcrumbs.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/translations-provider.tsx
  apps/web/middleware.ts
  apps/web/package.json
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/de-DE/navigation.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/navigation.json
  packages/i18n/src/client.ts
  packages/i18n/src/index.ts
  packages/i18n/src/server.ts
  pnpm-lock.yaml
Due: web, unit

v4
  apps/web/app/[locale]/platform/experiments/new/page.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/components/app-sidebar.tsx
Due: web, unit

fix: update dependencies to use compatible versions in package.json files
  packages/i18n/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  tooling/eslint/package.json
  tooling/tailwind/package.json
Due: none

feat: implement i18n support for various components and update translations
  apps/web/app/[locale]/platform/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/login-form.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

feat: add Dutch translations and update locale configuration
  apps/web/app/[locale]/layout.tsx
  apps/web/components/language-switcher.tsx
  apps/web/components/translations-provider.tsx
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/locales/nl-NL/dashboard.json
  packages/i18n/locales/nl-NL/experimentData.json
  packages/i18n/locales/nl-NL/experiments.json
  packages/i18n/locales/nl-NL/navigation.json
  packages/i18n/src/config.ts
Due: web, unit

refactor: simplify RootLayout component by removing unused imports and unnecessary HTML structure
  apps/web/app/layout.tsx
Due: web, unit

fix: remove unnecessary whitespace in AppSidebar component
  apps/web/components/app-sidebar.tsx
Due: web, unit

v5
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/layout.tsx
  apps/web/components/language-switcher.tsx
  apps/web/components/translations-provider.tsx
Due: web, unit

fix: destructure i18n from use in TranslationsProvider component
  apps/web/components/translations-provider.tsx
Due: web, unit

feat: add i18n support for experiment components and update translations
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-data.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/src/config.ts
Due: web, unit

refactor: remove unused 'experimentData' namespace and clean up locale files
  apps/web/app/[locale]/layout.tsx
  apps/web/app/openjii/experiments/page.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
  packages/i18n/src/config.ts
Due: web, unit

fix: remove 'cms/' entry from .gitignore
  .gitignore
Due: none

Update apps/web/components/app-breadcrumbs.tsx
  apps/web/components/app-breadcrumbs.tsx
Due: web, unit

Update apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
Due: web, unit

refactor: streamline locale handling in layout components and translations provider
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/translations-provider.tsx
Due: web, unit

feat: implement useLocale hook and refactor locale handling in components
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment.tsx
  apps/web/components/translations-provider.tsx
  apps/web/hooks/useLocale.ts
Due: web, unit

feat: enhance locale handling in layout and sidebar components with async translations
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/platform/page.tsx
  apps/web/app/openjii/experiments/page.tsx
  apps/web/components/app-sidebar-wrapper.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/translations-provider.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

feat(web): Improvements
  apps/web/app/openjii/data-test-2/[id]/page.tsx
  apps/web/app/openjii/data-test-2/page.tsx
  apps/web/components/experiment-data-table-v2.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: web, unit

feat(web): Improvements
  apps/web/components/experiment-data-table-v2.tsx
Due: web, unit

feat(web): Improvements
  apps/web/app/openjii/data-test-2/[id]/page.tsx
  apps/web/app/openjii/data-test-2/page.tsx
  apps/web/components/experiment-data-table-v2.tsx
  apps/web/components/experiment-data-table.tsx
Due: web, unit

feat(web): Improvements
  apps/web/app/openjii/data-test/page.tsx
  apps/web/hooks/experiment/mock/useExperimentMockData.ts
Due: web, unit

feat(web): Improvements
  apps/web/hooks/experiment/mock/useExperimentMockData.ts
Due: web, unit

feat: update locale handling in links and add new translations for experiment data
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/settings/page.tsx
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/components/app-sidebar.tsx
  apps/web/components/translations-provider.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/i18n/locales/nl-NL/common.json
Due: web, unit

feat: implement bulk member addition to experiments with role assignment
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/components/new-experiment.tsx
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
