Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

Added policy for developers and policy attachement
  infrastructure/modules/aurora_db/data.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/variables.tf
Due: none

test tf
  .github/workflows/deployment-template.yml
Due: none

added new line as EOF
  infrastructure/modules/aurora_db/data.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/vpc/outputs.tf
Due: none

added Readme.md
  infrastructure/modules/aurora_db/README.md
Due: none

test tf
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/variables.tf
Due: none

test tf
  .github/actions/tofu/action.yml
Due: none

fix an error
  infrastructure/modules/aurora_db/main.tf
Due: none

debug TF
  .github/actions/tofu/action.yml
  infrastructure/env/dev/main.tf
Due: none

remove testing comment-outs
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
Due: none

Aurora Serverless v2.0 implementation with SG and subnets
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
Due: none

debug TF
  .github/actions/tofu/action.yml
Due: none

fix(infra): updates how build env vars are passed to composite action
  .github/actions/blt/action.yml
  .github/workflows/pr.yml
Due: none

chore: copilot suggestions
  infrastructure/modules/aurora_db/README.md
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/variables.tf
Due: none

finishing tocuhes
  infrastructure/modules/aurora_db/main.tf
Due: none

remove testing comment-outs
  .github/workflows/deployment-template.yml
Due: none

feat(infra): implements terraform for postgres aurora serverless v2 (#248)
  .github/actions/blt/action.yml
  .github/workflows/deployment-template.yml
  .github/workflows/pr.yml
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/README.md
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
Due: none

feat(web): Custom login page
  apps/web/app/login/page.tsx
  apps/web/components/login-form.tsx
  apps/web/public/placeholder.svg
  packages/auth/src/next.ts
Due: web, unit

feat(middleware): enhance login handling and add matcher for login route
  apps/web/middleware.ts
Due: web, unit

fix(login): add missing newline for code clarity
  apps/web/app/login/page.tsx
Due: web, unit

Got login working locally
  apps/mobile/src/api/get-login-args.ts
  apps/mobile/src/api/get-session.ts
  apps/mobile/src/app.tsx
  apps/mobile/src/navigation/main-router.tsx
  apps/mobile/src/screens/home-screen.tsx
  apps/mobile/src/screens/login-screen/login-screen.tsx
  apps/mobile/src/widgets/login-widget.tsx
  apps/web/app/api/auth/mobile-redirect/route.ts
Due: web, mobile, unit

Remove commment
  apps/mobile/src/screens/home-screen.tsx
Due: mobile, unit

refactor: implement MemberList component for improved member display and management in ExperimentMemberManagement
  apps/web/components/experiment-member-management.tsx
  packages/ui/src/components/current-members-list.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/user-search-with-dropdown.tsx
Due: web, unit

Use env variable instead of localhost
  apps/mobile/src/api/get-session.ts
Due: mobile, unit

refactor: remove getUsersNotOnExperiment method from ExperimentMemberRepository
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
Due: backend, unit

fix: add newline for improved readability in addMember method
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
Due: backend, unit

fix: add newline for improved readability in createExperiment method
  apps/backend/src/experiments/presentation/experiment.controller.ts
Due: backend, unit

fix: add missing ErrorResponse type export in experiment schema
  packages/api/src/schemas/experiment.schema.ts
Due: none

fix(styles): update sidebar accent colors for improved visibility
  apps/web/app/globals.css
Due: web, unit

fix: update sidebar accent colors for improved visibility
  apps/web/app/globals.css
Due: web, unit

fix: add newline for improved readability in globals.css
  apps/web/app/globals.css
Due: web, unit

fix(styles): update sidebar accent colors for improved visibility (#316)
  apps/web/app/globals.css
Due: web, unit

feat(web): 137 implement login page (#317)
  apps/web/app/login/page.tsx
  apps/web/components/login-form.tsx
  apps/web/middleware.ts
  apps/web/public/placeholder.svg
  packages/auth/src/next.ts
Due: web, unit

fix: improved ExperimentMemberManagement and simplify UserSearchWithDropdown
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/user-search-with-dropdown.tsx
  packages/ui/src/components/current-members-list.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/user-search-with-dropdown.tsx
Due: web, unit

feat: enhance user search functionality with improved UI and search capabilities
  apps/web/components/user-search-with-dropdown.tsx
Due: web, unit

fix: change button variant from ghost to default in UserSearchPopover
  apps/web/components/user-search-with-dropdown.tsx
Due: web, unit

fix: update import paths for Button and UI components in UserSearchWithDropdown
  apps/web/components/user-search-with-dropdown.tsx
Due: web, unit

refactor: remove unused UserSearchWithDropdownOption interface
  apps/web/components/user-search-with-dropdown.tsx
Due: web, unit
