Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

Refactor code structure for improved readability and maintainability
  apps/web/package.json
  apps/web/util/mock-data.ts
  pnpm-lock.yaml
Due: web, unit

feat: update color palette and improve badge styling for experiment overview
  apps/web/app/globals.css
Due: web, unit

refactor: enhance ExperimentSettingsPage by integrating ExperimentMemberManagement and updating layout
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
Due: web, unit

refactor: clean up imports and improve method signatures in ExperimentMembersController
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  packages/api/src/contracts/experiment.contract.ts
Due: backend, web, unit

refactor: reorganize imports and streamline member management functions for clarity
  apps/web/components/experiment-member-management.tsx
Due: web, unit

refactor: simplify getUsersNotOnExperiment method by removing unused user parameter
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/globals.css
Due: backend, web, unit

feat: implement GetUsersNotOnExperiment use case and related components
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useUsersNotOnExperiment/useUsersNotOnExperiment.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

refactor: simplify result handling in ExperimentMembersController and ExperimentController; update key prop in ExperimentMemberManagement
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/components/experiment-member-management.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

refactor: remove unused imports and clean up experiment-related components
  apps/web/app/openjii/experiments/[id]/edit/page.tsx
  apps/web/app/openjii/experiments/[id]/layout.tsx
  apps/web/app/openjii/experiments/[id]/settings/page.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: web, unit

refactor: remove GetUsersNotOnExperiment use case and related hooks; implement user search functionality with debounce in ExperimentMemberManagement
  apps/backend/src/experiments/application/use-cases/experiment-members/get-users-not-on-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/hooks/experiment/useUsersNotOnExperiment/useUsersNotOnExperiment.ts
  apps/web/hooks/useDebounce.ts
  apps/web/hooks/useUserSearch.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/ui/src/components/index.ts
  packages/ui/src/components/input.tsx
  packages/ui/src/components/search-input.tsx
Due: backend, web, unit

test tf
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
Due: none

test tf
  .github/actions/tofu/action.yml
Due: none

test tf
  infrastructure/env/dev/main.tf
  infrastructure/modules/aurora_db/variables.tf
Due: none

test tf
  infrastructure/env/dev/variables.tf
Due: none

test tf
  .github/actions/tofu/action.yml
  infrastructure/env/dev/variables.tf
Due: none

debug TF
  .github/actions/tofu/action.yml
Due: none

debug TF
  .github/actions/tofu/action.yml
  infrastructure/env/dev/main.tf
Due: none

Integrate next auth with mobile app
  apps/mobile/app.json
  apps/mobile/package.json
  apps/mobile/src/app.tsx
  apps/mobile/src/navigation/main-router.tsx
  apps/mobile/src/screens/login-screen/login-screen.tsx
  apps/tools/multispeq_mqtt_interface/package.json
  packages/auth/src/next.ts
  pnpm-lock.yaml
Due: mobile, unit

small changes
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
Due: none

small fix
  .github/workflows/build-and-push.yml
Due: none

changes in relation to pnpm
  .github/actions/btn/action.yml
Due: none

build and test node, build and push docker
  .github/actions/btn/action.yml
Due: none

build and test node, build and push docker
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
Due: none

Changes for building context and adding test workflow
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
Due: none

feat(cicd): Feat/cicd backend 270 (#272)
  .github/actions/bpd/action.yml
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
Due: none

Add checkoutv4
  .github/workflows/build-and-push.yml
Due: none

Fixes
  .github/actions/btn/action.yml
Due: none

fix pnpm
  .github/actions/btn/action.yml
Due: none

fix build context
  .github/workflows/build-and-push.yml
Due: none

remove testing comment-outs
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
Due: none

remove testing comment-outs
  .github/workflows/deployment-template.yml
Due: none

test tf
  .github/workflows/deployment-template.yml
Due: none

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
