Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web

codecov.yml:

# Codecov configuration
codecov:
  require_ci_to_pass: true

# Coverage configuration
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      backend:
        target: 90% # 90% lines coverage for backend
        threshold: 1% # Allow 1% variance
        flags:
          - backend
        paths:
          - apps/backend/
      web:
        # No minimum coverage requirement for web (for now)
        target: auto
        threshold: 100% # Very lenient threshold essentially disables blocking
        informational: true # Make it non-blocking
        flags:
          - web
        paths:
          - apps/web/
    patch:
      default:
        target: 75% # 75% branch coverage requirement for new code
        threshold: 5%
        base: auto

# Comment configuration for PR
comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  hide_project_coverage: false

# Flag configuration to isolate coverage by project
flags:
  backend:
    paths:
      - apps/backend/
    # For branches coverage target
    carryforward: true
  web:
    paths:
      - apps/web/
    carryforward: true

# Disable GitHub annotations to reduce visual clutter
github_checks:
  annotations: false

feat(ci): add Codecov integration for coverage reporting (#530)
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
  README.md
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.spec.ts
  apps/web/hooks/useDebounce.test.tsx
  codecov.yml
Due: backend, web

feat(infra): integrates databricks experiment provisioning infra with status update & waf rate_limit update (#398)
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat(web,api): Validate protocols
  apps/backend/src/common/utils/fp-utils.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/schemas/protocol-validator.spec.ts
  packages/api/src/schemas/protocol-validator.ts
  pnpm-lock.yaml
Due: backend

feat(web,api): Add protocol validation to code editor
  apps/web/components/protocol-code-editor.tsx
Due: web

feat(web): Change protocol viewing height
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
Due: web

fix
  apps/web/components/side-panel-flow/edge-panel.tsx
Due: web

feat(web): Find matching lines for Zod errors
  apps/web/components/protocol-code-editor.tsx
  packages/api/src/schemas/protocol-validator.ts
Due: web

feat: normalize and validate experiment and protocol names, trim whitespace in input fields
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.ts
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
Due: backend, web

refactor: remove unnecessary value prop from Input components in experiment and protocol detail cards
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
Due: web

fix
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
Due: backend

feat: ambyte data ingestion
  apps/backend/src/common/modules/databricks/databricks.adapter.ts
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/common/modules/databricks/services/files/files.service.spec.ts
  apps/backend/src/common/modules/databricks/services/files/files.service.ts
  apps/backend/src/common/modules/databricks/services/files/files.types.ts
  apps/backend/src/common/modules/databricks/services/pipelines/pipelines.service.spec.ts
  apps/backend/src/common/modules/databricks/services/pipelines/pipelines.service.ts
  apps/backend/src/common/modules/databricks/services/pipelines/pipelines.types.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/upload-ambyte-data.ts
  apps/backend/src/experiments/core/ports/databricks.port.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  infrastructure/notebooks/tasks/experiment_pipeline_create_task.py
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend

Moved backend trimming logic to Zod validation
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/create-protocol/create-protocol.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.ts
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
  jest.config.js
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/protocol.schema.ts
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/input.test.tsx
  packages/ui/src/components/input.tsx
  packages/ui/tsconfig.test.json
  pnpm-lock.yaml
Due: backend, web

work
  apps/backend/package.json
  apps/backend/src/experiments/application/use-cases/experiment-data/upload-ambyte-data.ts
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/test/test-harness.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  pnpm-lock.yaml
Due: backend

chore: update pnpm workspace and add vitest configuration
  apps/web/coverage.json
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.test.tsx
  apps/web/hooks/experiment/useExperimentProtocolAdd/useExperimentProtocolAdd.test.tsx
  apps/web/hooks/useDebounce.test.tsx
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/vitest.config.ts
  apps/web/vitest.setup.ts
  package.json
  packages/cms/package.json
  packages/ui/coverage.json
  packages/ui/package.json
  packages/ui/src/components/button.test.tsx
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/vitest-config/package.json
  tooling/vitest-config/src/configs/base-config.ts
  tooling/vitest-config/src/configs/ui-config.ts
  tooling/vitest-config/src/index.ts
  tooling/vitest-config/src/scripts/collect-json-outputs.ts
  tooling/vitest-config/src/setup.ts
  tooling/vitest-config/tsconfig.json
  tooling/vitest-config/turbo.json
  turbo.json
  vitest.config.ts
Due: web

work
  apps/backend/src/experiments/application/use-cases/experiment-data/upload-ambyte-data.ts
Due: backend

chore: adapter spec
  apps/backend/src/common/modules/databricks/databricks.adapter.spec.ts
  apps/backend/src/common/modules/databricks/databricks.adapter.ts
Due: backend

refactor: enhance replaceDotPatterns function for improved readability
  tooling/vitest-config/src/scripts/collect-json-outputs.ts
Due: none

feat: enhance Codecov integration with main branch coverage upload and artifact handling
  .github/actions/test-packages/action.yml
  .github/workflows/main-coverage.yml
  .github/workflows/pr.yml
Due: none

refactor: simplify PR workflow name for clarity
  .github/workflows/pr.yml
Due: none

refactor: move Node.js and pnpm setup step to conditional execution
  .github/workflows/main-coverage.yml
Due: none

refactor: remove .only from DatabricksSqlService test suite to run all tests
  apps/backend/src/common/modules/databricks/services/sql/sql.service.spec.ts
Due: backend

refactor: add test harness utility to coverage exclusions
  apps/backend/vitest.config.mts
  codecov.yml
Due: backend

fix: adjust z-index values for fullscreen and side panel components
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
Due: web

feat(api): enhance coverage configuration and add Vitest tests
  apps/backend/vitest.config.mts
  apps/web/coverage.json
  codecov.yml
  packages/api/package.json
  packages/api/src/schemas/user.schema.spec.ts
  packages/api/src/schemas/user.schema.ts
  packages/api/vitest.config.ts
  pnpm-lock.yaml
Due: backend, web

Refactor code structure for improved readability and maintainability
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/components/experiment-data/__tests__/ambyte-upload-modal.test.tsx
  apps/web/components/experiment-data/ambyte-upload-modal.tsx
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.test.tsx
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.tsx
  apps/web/hooks/experiment/useAmbyteUpload/useAmbyteUpload.ts
  apps/web/jest.setup.js
  apps/web/tsconfig.test.json
  packages/ui/README.md
  packages/ui/jest.config.cjs
  packages/ui/package.json
  packages/ui/src/components/file-upload/file-upload.test.tsx
  packages/ui/src/components/file-upload/file-upload.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/test-setup.ts
  packages/ui/tsconfig.test.json
  pnpm-lock.yaml
Due: web

feat(experiments): add search functionality to filter experiments by name
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.spec.ts
  apps/backend/src/experiments/application/use-cases/list-experiments/list-experiments.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/components/list-experiments.tsx
  apps/web/hooks/experiment/useExperiments/useExperiments.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: backend, web

chore: add @testing-library/user-event dependency to pnpm workspace
  .gitignore
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/web/components/experiment-data/__tests__/ambyte-upload-modal.test.tsx
  apps/web/components/experiment-data/ambyte-upload-modal.tsx
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.test.tsx
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.tsx
  apps/web/jest.setup.js
  apps/web/package.json
  apps/web/tsconfig.test.json
  apps/web/vitest.config.ts
  package.json
  packages/ui/jest.config.cjs
  packages/ui/package.json
  packages/ui/src/components/file-upload/file-upload.test.tsx
  packages/ui/src/components/file-upload/file-upload.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/test-setup.ts
  packages/ui/tsconfig.json
  packages/ui/vitest-setup.d.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: backend, web

feat: enhance Ambyte upload validation and improve file handling in FileUpload component
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.test.tsx
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.tsx
  packages/ui/src/components/file-upload/file-upload.tsx
Due: web

fix
  packages/ui/package.json
  packages/ui/src/components/input.test.tsx
  packages/ui/tsconfig.test.json
  pnpm-lock.yaml
Due: none

feat: add Ambyte upload feature documentation with known issues and TODOs
  AMBYTE_UPLOAD_TODOS.md
Due: none

chore: update test files to use Vitest for testing framework
  apps/web/components/flow-editor/__tests__/flow-conversion.test.ts
  apps/web/components/flow-editor/__tests__/flow-mapper.test.ts
Due: web

feat: implement comprehensive tests for AmbyteUploadModal and enhance file upload handling
  apps/web/components/experiment-data/ambyte-upload-modal/ambyte-upload-modal.comprehensive.test.tsx
  apps/web/hooks/experiment/useAmbyteUpload/useAmbyteUpload.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/ui/src/components/file-upload/file-upload.tsx
Due: web

chore: update dependencies and configuration and added tests
  apps/web/components/__tests__/question-card.test.tsx
  apps/web/components/flow-editor/__tests__/flow-editor.test.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/react-flow/__tests__/base-node.test.tsx
  apps/web/components/react-flow/__tests__/flow-utils.test.tsx
  apps/web/components/react-flow/__tests__/node-utils.test.tsx
  apps/web/components/side-panel-flow/__tests__/analysis-panel-flow.test.tsx
  apps/web/components/side-panel-flow/__tests__/edge-panel.test.tsx
  apps/web/components/side-panel-flow/__tests__/instruction-panel.test.tsx
  apps/web/components/side-panel-flow/__tests__/measurement-panel.test.tsx
  apps/web/components/side-panel-flow/__tests__/question-panel.test.tsx
  apps/web/components/side-panel-flow/__tests__/side-panel-flow.test.tsx
  apps/web/coverage.json
  apps/web/package.json
  apps/web/tsconfig.test.json
  apps/web/vitest.config.ts
  package.json
  packages/ui/coverage.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.ts
Due: web

added test for node handles
  apps/web/components/react-flow/__tests__/node-handles.test.tsx
  apps/web/coverage.json
Due: web

Add comprehensive schema tests for Experiment and Protocol schemas
  apps/web/coverage.json
  package.json
  packages/api/src/schemas/experiment.schema.spec.ts
  packages/api/src/schemas/protocol.schema.spec.ts
  packages/ui/coverage.json
Due: web
