Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

fix(web): Fixed pagination texts and icon alignment
  apps/web/components/experiment-data/experiment-data-table.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/ui/src/components/pagination.tsx
Due: web, unit

fix(web): Layout fixes
  apps/web/components/experiment-data/experiment-data-table.tsx
  packages/ui/src/components/pagination.tsx
Due: web, unit

fix(web): Fixed type rror
  apps/web/components/experiment-data/experiment-data-utils.tsx
Due: web, unit

feat(web): Fixes for experiment data tables (#434)
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  packages/ui/src/components/pagination.tsx
Due: web, unit

feat: Implement experiment protocol management
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/add-experiment-protocols.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/add-experiment-protocols.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/list-experiment-protocols.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/list-experiment-protocols.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/remove-experiment-protocol.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/remove-experiment-protocol.ts
  apps/backend/src/experiments/core/models/experiment-protocols.model.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-protocol.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-protocol.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/protocol.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

fix
  apps/backend/src/experiments/experiment.module.ts
Due: backend, unit

fix
  apps/backend/src/experiments/core/models/experiment-protocols.model.ts
  apps/backend/src/experiments/core/repositories/experiment-protocol.repository.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

fix
  apps/backend/src/experiments/presentation/experiment-protocols.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/contracts/protocol.contract.ts
Due: backend, unit

fix
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
Due: backend, unit

feat(backend): support-adding-protocols-to-experiments (#436)
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/add-experiment-protocols.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/add-experiment-protocols.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/list-experiment-protocols.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/list-experiment-protocols.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/remove-experiment-protocol.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-protocols/remove-experiment-protocol.ts
  apps/backend/src/experiments/core/models/experiment-protocols.model.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-protocol.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-protocol.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0004_overjoyed_shocker.sql
  packages/database/drizzle/meta/0004_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: backend, unit

feat(web): Add magic link email provider for login
  apps/web/app/[locale]/verify-request/page.tsx
  apps/web/components/login-form.tsx
  packages/auth/package.json
  packages/auth/src/email/verificationRequest.ts
  packages/auth/src/next.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
  turbo.json
Due: web, unit

Remove unneeded comments
  apps/web/app/api/auth/mobile-redirect/route.ts
Due: web, unit

Remove useless console logs
  apps/web/app/api/auth/mobile-redirect/route.ts
Due: web, unit

Avoid hardcoding profile base url
  apps/mobile/src/app/(tabs)/profile.tsx
Due: mobile, unit

Remove console logs
  apps/mobile/src/auth/login.ts
Due: mobile, unit

Remove non-auth mode
  apps/mobile/src/app/index.tsx
Due: mobile, unit

Remove console logs
  apps/mobile/src/hooks/use-device-connection.ts
Due: mobile, unit

Shorter serial device name
  apps/mobile/src/hooks/use-devices.ts
Due: mobile, unit

Remove mock session
  apps/mobile/src/hooks/use-devices.ts
  apps/mobile/src/hooks/use-session-store.ts
Due: mobile, unit

Remove session override
  apps/mobile/src/hooks/use-session-store.ts
Due: mobile, unit

feat(web): Add magic link email provider for login (#443)
  apps/web/app/[locale]/verify-request/page.tsx
  apps/web/components/login-form.tsx
  packages/auth/package.json
  packages/auth/src/email/verificationRequest.ts
  packages/auth/src/next.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
  turbo.json
Due: web, unit

fix(web): Redirect to home page if user lands on verify-request without auth provider
  apps/web/app/[locale]/verify-request/page.tsx
Due: web, unit

feat(web): Use React Email for formatting
  package.json
  packages/auth/package.json
  packages/auth/src/email/verificationRequest.ts
  packages/auth/tsconfig.json
  packages/transactional/emails/verification-request.tsx
  packages/transactional/package.json
  packages/transactional/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat: Implement protocol management in experiment settings
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/components/current-protocols-list.tsx
  apps/web/components/experiment-settings/experiment-protocol-management-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/protocol-search-popover.tsx
  apps/web/components/protocol-search-with-dropdown.tsx
  apps/web/hooks/experiment/useExperimentProtocolAdd/useExperimentProtocolAdd.ts
  apps/web/hooks/experiment/useExperimentProtocolRemove/useExperimentProtocolRemove.ts
  apps/web/hooks/experiment/useExperimentProtocols/useExperimentProtocols.ts
  apps/web/hooks/protocol/useProtocolSearch/useProtocolSearch.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

feat(web): enhance accessibility by updating aria-labels in ProtocolList component
  apps/web/components/current-protocols-list.tsx
Due: web, unit

fix
  apps/web/components/current-protocols-list.tsx
Due: web, unit

refactor: remove onValueChange prop from ProtocolSearchWithDropdown component
  apps/web/components/experiment-settings/experiment-protocol-management-card.tsx
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
  apps/web/components/protocol-search-with-dropdown.tsx
Due: web, unit

fix(web): Use React Email for formatting and added redirect for verify-request page (#451)
  apps/web/app/[locale]/verify-request/page.tsx
  package.json
  packages/auth/package.json
  packages/auth/src/email/verificationRequest.ts
  packages/auth/tsconfig.json
  packages/transactional/emails/verification-request.tsx
  packages/transactional/package.json
  packages/transactional/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, unit

feat(tests): add case-insensitive name search filter test for protocols
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
Due: backend, unit

fixes + added tests for useExperimentProtocolAdd
  apps/web/components/current-protocols-list.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
  apps/web/components/protocol-search-popover.tsx
  apps/web/hooks/experiment/useExperimentProtocolAdd/useExperimentProtocolAdd.test.tsx
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/tsconfig.test.json
  jest.config.js
  pnpm-lock.yaml
Due: web, unit

refactor(i18n): standardize useTranslation calls by removing undefined namespace parameter
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/[id]/layout.tsx
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/[id]/settings/page.tsx
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-data.tsx
  apps/web/components/experiment-data/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/experiment-settings/experiment-info-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-members-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-info-card.tsx
  apps/web/components/protocol-settings/protocol-settings.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/components/user-search-popover.tsx
  apps/web/components/user-search-with-dropdown.tsx
  packages/i18n/README.md
  packages/i18n/src/client.ts
Due: web, unit

refactor(i18n): standardize useTranslation calls by removing undefined namespace parameter (#453)
  apps/web/app/[locale]/platform/experiments/[id]/data/[tableName]/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/[id]/layout.tsx
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/[id]/settings/page.tsx
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-data.tsx
  apps/web/components/experiment-data/experiment-data-sample-tables.tsx
  apps/web/components/experiment-data/experiment-data-table.tsx
  apps/web/components/experiment-data/experiment-data-utils.tsx
  apps/web/components/experiment-overview.tsx
  apps/web/components/experiment-settings/experiment-details-card.tsx
  apps/web/components/experiment-settings/experiment-info-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/experiment-settings/experiment-visibility-card.tsx
  apps/web/components/nav-user.tsx
  apps/web/components/new-experiment/new-experiment-details-card.tsx
  apps/web/components/new-experiment/new-experiment-members-card.tsx
  apps/web/components/new-experiment/new-experiment-visibility-card.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/new-protocol/new-protocol-details-card.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
  apps/web/components/protocol-settings/protocol-info-card.tsx
  apps/web/components/protocol-settings/protocol-settings.tsx
  apps/web/components/unified-navbar.tsx
  apps/web/components/user-search-popover.tsx
  apps/web/components/user-search-with-dropdown.tsx
  packages/i18n/README.md
  packages/i18n/src/client.ts
Due: web, unit

fix
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
Due: web, unit

removed undefined in useTranslation
  apps/web/components/current-protocols-list.tsx
  apps/web/components/experiment-settings/experiment-protocol-management-card.tsx
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
  apps/web/components/protocol-search-popover.tsx
  apps/web/components/protocol-search-with-dropdown.tsx
Due: web, unit

feat(web): Implement protocol management in experiment settings and new experiment form (#452)
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/components/current-protocols-list.tsx
  apps/web/components/experiment-settings/experiment-protocol-management-card.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/components/new-experiment/new-experiment-protocols-card.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/protocol-search-popover.tsx
  apps/web/components/protocol-search-with-dropdown.tsx
  apps/web/hooks/experiment/useExperimentProtocolAdd/useExperimentProtocolAdd.test.tsx
  apps/web/hooks/experiment/useExperimentProtocolAdd/useExperimentProtocolAdd.ts
  apps/web/hooks/experiment/useExperimentProtocolRemove/useExperimentProtocolRemove.ts
  apps/web/hooks/experiment/useExperimentProtocols/useExperimentProtocols.ts
  apps/web/hooks/protocol/useProtocolSearch/useProtocolSearch.ts
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/tsconfig.test.json
  jest.config.js
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: backend, web, unit

feat(protocols): prevent updating protocols assigned to experiments and add related tests
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
Due: backend, web, unit

fix
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
Due: backend, unit

feat(backend, web): prevent updating protocols assigned to experiments (#482)
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.spec.ts
  apps/backend/src/protocols/application/use-cases/update-protocol/update-protocol.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/components/new-protocol/new-protocol.tsx
  apps/web/components/protocol-settings/protocol-details-card.tsx
Due: backend, web, unit

feat(web): Added registration page
  apps/backend/src/users/application/use-cases/set-user-registered/set-user-registered.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/register/page.tsx
  apps/web/hooks/useGetCurrentUser.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/schemas/user.schema.ts
  packages/auth/src/config.ts
  packages/database/drizzle/0005_giant_crystal.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
