Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

feat: add locale support to LoginForm and update LoginPage to pass locale prop
  apps/web/app/[locale]/login/page.tsx
  apps/web/components/login-form.tsx
Due: web, unit

feat(infra): enables route53 dns resolutions & domain mapping
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  .github/workflows/run-database-migrations.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  packages/database/drizzle.config.ts
Due: none

feat(infra): migrations ecs task
  .github/actions/tofu/action.yml
  .github/workflows/database-migrations.yml
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
  packages/database/Dockerfile
  packages/database/docker-compose.yml
  packages/database/src/migrate.ts
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  .github/workflows/database-migrations.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/outputs.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
  packages/database/drizzle.config.ts
  packages/database/src/database.ts
  packages/database/src/migrate.ts
Due: none

chore: updates rds engine version
  infrastructure/modules/aurora_db/main.tf
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/iam-oidc/data.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  .github/workflows/run-database-migrations.yml
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/vpc/README.md
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
Due: none

chore: allow oidc for prs
  infrastructure/modules/iam-oidc/main.tf
Due: none

feat(db): implements migration infra & ecs/ecr modules (#314)
  .github/actions/tofu/action.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy-nextjs-opennext.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/aurora_db/variables.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/outputs.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/iam-oidc/data.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/vpc/README.md
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  packages/database/Dockerfile
  packages/database/docker-compose.yml
  packages/database/drizzle.config.ts
  packages/database/src/database.ts
  packages/database/src/migrate.ts
Due: none

feat: add functionality to manage multiple experiment members with role assignment in NewExperimentForm
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment.tsx
Due: backend, web, unit

feat(nav-user): add translation support for logout button
  apps/web/components/nav-user.tsx
Due: web, unit

fix(backend): Updating experiment name was limited to 100 characters
  packages/api/src/schemas/experiment.schema.ts
Due: none

fix(backend): Updating experiment name was limited to 100 characters (#355)
  packages/api/src/schemas/experiment.schema.ts
Due: none

fix: Experiment visibility must be set to public by default
  apps/web/components/new-experiment.tsx
  packages/database/drizzle/0002_simple_warbound.sql
  packages/database/drizzle/meta/0002_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: web, unit

fix: Formatting fixes
  apps/mobile/app.json
  packages/database/drizzle/meta/0002_snapshot.json
  packages/database/drizzle/meta/_journal.json
Due: mobile, unit

fix: Experiment visibility must be set to public by default (#356)
  apps/web/components/new-experiment.tsx
  packages/database/drizzle/0002_simple_warbound.sql
  packages/database/drizzle/meta/0002_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: web, unit

fix: update translation namespace for experiment data component to fix build
  apps/web/components/app-layout.tsx
  apps/web/components/experiment-data.tsx
Due: web, unit

fix: update translation namespace for experiment data component to fix build (#360)
  apps/web/components/app-layout.tsx
  apps/web/components/experiment-data.tsx
Due: web, unit

fix: Fixes after merge of translations
  apps/web/app/[locale]/platform/data-test/[id]/page.tsx
  apps/web/app/[locale]/platform/data-test/page.tsx
  apps/web/app/openjii/data-test/page.tsx
Due: web, unit

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
  infrastructure/modules/opennext/variables.tf
Due: none

feat(infra): adds backend iac
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/outputs.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat: proper backend dockerfile
  apps/backend/Dockerfile
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/iam-oidc/main.tf
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: backend infra
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/env/dev/versions.tf
  infrastructure/modules/secrets-manager/README.md
  infrastructure/modules/secrets-manager/main.tf
  infrastructure/modules/secrets-manager/outputs.tf
  infrastructure/modules/secrets-manager/variables.tf
  infrastructure/modules/vpc/main.tf
Due: none

fix: filter out current user from available users in NewExperimentForm and filter it out in the backend if passed as param some other way
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/web/app/layout.tsx
  apps/web/components/new-experiment.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: backend, web, unit

fix: cleaned code for new experiment
  apps/web/components/current-members-list.tsx
  apps/web/components/new-experiment.tsx
Due: web, unit

feat: scroll into view the prompt presented after delete experiment
  apps/web/components/experiment-settings.tsx
Due: web, unit

feat: add validation for user IDs and roles in AddExperimentMembersUseCase
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
Due: backend, unit

feat: backend infra
  .github/actions/btn/action.yml
  .github/workflows/build-and-push.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-nextjs-opennext.yml
  infrastructure/env/dev/main.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/waf/main.tf
Due: none

fix: iam oidc pr permissions
  infrastructure/modules/iam-oidc/README.md
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/iam-oidc/variables.tf
Due: none

temp: comment out tofu plan
  .github/actions/tofu/action.yml
Due: none

feat(infra): provisions infrastructure to enable the deployment of the backend service(s) (#340)
  .github/actions/btn/action.yml
  .github/actions/tofu/action.yml
  .github/workflows/build-and-push.yml
  .github/workflows/database-migrations.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-nextjs-opennext.yml
  apps/backend/Dockerfile
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/env/dev/versions.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/outputs.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/iam-oidc/README.md
  infrastructure/modules/iam-oidc/variables.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/secrets-manager/README.md
  infrastructure/modules/secrets-manager/main.tf
  infrastructure/modules/secrets-manager/outputs.tf
  infrastructure/modules/secrets-manager/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat(backend): dedicated endpoint to fetch experiment data per table
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/eslint.config.js
Due: backend, unit

chore
  apps/backend/.env.test
Due: none

chore: updates tests
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
