Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

feat: Enhance Flow and Experiment Error Handling
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

Update get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
Due: backend, unit

refactor: Clean up whitespace and improve code readability in various files
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

feat: update flow controller to return full step object on creation
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
Due: backend, unit

feat: add type-safe error handling utilities for Drizzle ORM and enhance ExperimentFlowController with mobile flow support
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

feat: remove artificial error handling tests and improve integration coverage for flow use cases
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
Due: backend, unit

feat: enhance error handling in defaultRepositoryErrorMapper using Drizzle error utilities
  apps/backend/src/common/utils/drizzle-error-utils.ts
Due: backend, unit

feat: enhance test cases with Arrange-Act-Assert structure and improve type safety in flow repository tests
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
Due: backend, unit

feat: implement flow management system as experiment submodule
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/tsconfig.json
  package.json
  packages/api/src/contract.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/flow.schema.ts
  packages/database/drizzle/0005_tranquil_sentry.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  pnpm-lock.yaml
  turbo.json
Due: backend, unit

feat: Implement node and edge side panels with dynamic content + refactoring of the code
  apps/web/components/base-handle.tsx
  apps/web/components/base-node.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/question-card.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/initial-data.ts
  apps/web/components/react-flow/node-config.ts
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/react-flow/node-handles.tsx
  apps/web/components/side-panel-flow.tsx
  apps/web/components/side-panel-flow/edge-panel.tsx
  apps/web/components/side-panel-flow/instruction-panel.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
Due: web, unit

feat: Implement bulk operations for creating and updating flows with steps
  apps/backend/src/experiments/flows/application/use-cases/create-flow-with-steps/create-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-with-steps/create-flow-with-steps.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/update-flow-with-steps/update-flow-with-steps.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

refactor(tests): remove unused getMobileFlowExecution tests from FlowStepRepository
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
Due: backend, unit

chore: update zod dependency to version 3.25.76 in pnpm-workspace.yaml
  apps/backend/src/experiments/core/models/experiment.model.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Revert " feat: add comprehensive Drizzle ORM error handling utilities and update drizzle packages (#493)"
  apps/backend/package.json
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: backend, unit

fix(backend): Requested changes
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.ts
  apps/backend/src/users/core/repositories/user.repository.spec.ts
  apps/backend/src/users/core/repositories/user.repository.ts
Due: backend, unit

feat: Enhance flow management with question step
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/question-card.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/flow-utils.ts
  apps/web/components/react-flow/node-content.tsx
  apps/web/components/side-panel-flow/question-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
  packages/api/src/schemas/flow.schema.ts
Due: web, unit

feat: Add Experiment Flow page and localization support
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
  packages/i18n/locales/nl-NL/experiments.json
Due: web, unit

wip
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/hooks/flow/index.ts
  apps/web/hooks/flow/useFlow/useFlow.ts
  apps/web/hooks/flow/useFlowConnections/index.ts
  apps/web/hooks/flow/useFlowConnections/useFlowConnections.ts
  apps/web/hooks/flow/useFlowSteps/useFlowSteps.ts
  apps/web/hooks/flow/useUpdateFlowWithSteps/useUpdateFlowWithSteps.ts
Due: web, unit

wip2
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/get-flow-with-graph.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow-with-graph/index.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/hooks/flow/index.ts
  apps/web/hooks/flow/useFlowWithGraph/index.ts
  apps/web/hooks/flow/useFlowWithGraph/useFlowWithGraph.ts
  packages/api/src/contracts/flow.contract.ts
Due: backend, web, unit

chore(database): Setup integration tests to use a different database
  apps/backend/.env.test
  packages/database/docker-compose.yml
  packages/database/scripts/create-additional-databases.sh
Due: none

refactor: update schema type inference for user and experiment models
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/models/experiment-protocols.model.ts
  apps/backend/src/users/core/models/user.model.ts
Due: backend, unit

feat(web): Experiment Overview Cards
  apps/web/app/[locale]/platform/experiments/page.tsx
  apps/web/components/ExperimentStatusBadge.tsx
  apps/web/components/experiment-overview-cards.tsx
  apps/web/components/list-experiments.tsx
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
Due: web, unit

feat(mobile): Improve offline support and adapt for new table format Co-Authored-By: ikatun <ikatun@gmail.com>
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/configured-query-client-provider.tsx
  apps/mobile/src/context/toast-context.tsx
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/hooks/use-experiments-data.ts
  apps/mobile/src/hooks/use-failed-uploads.ts
  apps/mobile/src/hooks/use-measurement-upload.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/utils/map-rows-to-measurements.ts
  apps/mobile/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: mobile, unit

chore: catalog version for react-query libs
  apps/mobile/package.json
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, mobile, unit

chore
  pnpm-workspace.yaml
Due: none

format
  apps/mobile/package.json
  apps/web/package.json
  pnpm-workspace.yaml
Due: web, mobile, unit

chore: catalog version for react-query libs (#509)
  apps/mobile/package.json
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: web, mobile, unit

feat: Added registration page (#491)
  apps/backend/src/test/test-harness.ts
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.spec.ts
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/core/repositories/user.repository.spec.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.spec.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/backend/src/users/user.module.ts
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/register/page.tsx
  apps/web/components/experiment-settings/experiment-member-management-card.tsx
  apps/web/components/registration-form.tsx
  apps/web/hooks/useCreateUserProfile.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/schemas/user.schema.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/types.ts
  packages/database/drizzle/0005_warm_crystal.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: backend, web, unit

feat(web): Sort experiments by last updated
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/web/components/experiment-overview-cards.tsx
  apps/web/components/experiment-table-rows.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

feat: implement flow management system as experiment submodule
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/tsconfig.json
  packages/api/src/contract.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/index.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/flow.schema.ts
  packages/database/drizzle/0006_aromatic_ultimo.sql
  packages/database/drizzle/meta/0006_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  turbo.json
Due: backend, unit

refactor(flow): simplify method signatures and improve type handling in FlowStepRepository
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
Due: backend, unit

refactor(flow): update user type in getMobileFlow method and improve type handling for experiment access
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
Due: backend, unit

refactor(flow): clean up imports and improve type handling in flow step use cases
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-with-steps/create-flow-with-steps.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
Due: backend, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
