Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

adjustments
  infrastructure/env/dev/main.tf
Due: none

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

feat: adjustments
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

feat: databricks status update
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

fix: typo
  infrastructure/env/dev/main.tf
Due: none

feat(experiments): add upload data functionality with UI and backend integration
  apps/backend/src/experiments/application/use-cases/upload-data/upload-data.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
  apps/web/components/experiment-data/upload-data-modal.tsx
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/de-DE/experiments.json
  packages/i18n/locales/en-US/experiments.json
  packages/i18n/locales/en-US/uploadData.json
Due: backend, web, unit

feat(web): Protocol Overview Cards
  apps/backend/src/protocols/core/models/protocol.model.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/page.tsx
  apps/web/components/list-protocols.tsx
  apps/web/components/protocol-overview-cards.tsx
  packages/api/src/schemas/protocol.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

fix(web): Shows '-' when username is missing
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/components/protocol-overview-cards.tsx
Due: web, unit

feat(web): Protocol Overview Cards (#524)
  apps/backend/src/protocols/core/models/protocol.model.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.spec.ts
  apps/backend/src/protocols/core/repositories/protocol.repository.ts
  apps/web/app/[locale]/platform/protocols/[id]/page.tsx
  apps/web/app/[locale]/platform/protocols/page.tsx
  apps/web/components/list-protocols.tsx
  apps/web/components/protocol-overview-cards.tsx
  packages/api/src/schemas/protocol.schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

chore: disable turbo/no-undeclared-env-vars rule in ESLint configurations
  apps/mobile/eslint.config.mjs
  apps/web/lib/auth.ts
  apps/web/lib/contentful.ts
  apps/web/lib/secrets.ts
  packages/auth/src/config.ts
  packages/cms/eslint.config.js
  tooling/eslint/base.js
Due: web, mobile, unit

chore: update linting rules and improve type safety in components
  packages/cms/package.json
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/home/visual-media.tsx
Due: none

chore: update linting commands, improve type safety, and refactor code for better readability
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  package.json
  packages/cms/eslint.config.js
  packages/cms/package.json
  packages/cms/src/codegen.ts
  packages/cms/src/features/about.tsx
  packages/cms/src/features/contentful/ctf-rich-text.tsx
  packages/cms/src/features/faq.tsx
  packages/cms/src/features/footer.tsx
  packages/cms/src/features/home/key-features.tsx
  packages/cms/src/features/home/mission.tsx
  packages/cms/src/features/home/partners.tsx
  packages/cms/src/features/home/visual-media.tsx
  packages/cms/src/features/policies.tsx
  turbo.json
Due: web, unit

chore: update db:start script to include --wait for better startup handling
  packages/database/package.json
Due: none

feat: implement flow management with CRUD operations
  apps/backend/src/experiments/application/use-cases/flows/get-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/upsert-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/upsert-flow.ts
  apps/backend/src/experiments/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/core/repositories/flow.repository.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0006_sudden_white_tiger.sql
  packages/database/drizzle/meta/0006_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/scripts/reset.ts
Due: backend, unit

feat(flow): implement create and update flow use cases, update controller and repository methods
  apps/backend/src/experiments/application/use-cases/flows/create-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/create-flow.ts
  apps/backend/src/experiments/application/use-cases/flows/get-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.ts
  apps/backend/src/experiments/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/core/repositories/flow.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.ts
  packages/api/src/contracts/experiment.contract.ts
Due: backend, unit

feat(flow): add validation for flow creation to ensure one start node and non-empty nodes
  apps/backend/src/experiments/presentation/experiment-flows.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

feat(flow): implement GetFlow and UpsertFlow use cases, add flow repository and controller
  apps/backend/src/experiments/application/use-cases/flows/get-flow.ts
  apps/backend/src/experiments/application/use-cases/flows/upsert-flow.ts
  apps/backend/src/experiments/core/models/flow.model.ts
  apps/backend/src/experiments/core/repositories/flow.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/src/schema.ts
Due: backend, unit

test: remove input validation test for UpsertFlowUseCase
  apps/backend/src/experiments/application/use-cases/flows/upsert-flow.spec.ts
Due: backend, unit

feat(flow): update access control to allow non-admin members to create flows
  apps/backend/src/experiments/application/use-cases/flows/create-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/create-flow.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

test: improve member retrieval assertions to match specific user IDs
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
Due: backend, unit

feat: implement comprehensive flow management with CRUD operations and access control (#529)
  apps/backend/src/experiments/application/use-cases/flows/create-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/create-flow.ts
  apps/backend/src/experiments/application/use-cases/flows/get-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/get-flow.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.spec.ts
  apps/backend/src/experiments/application/use-cases/flows/update-flow.ts
  apps/backend/src/experiments/core/models/flow.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/core/repositories/flow.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-flows.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0006_sudden_white_tiger.sql
  packages/database/drizzle/meta/0006_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/package.json
  packages/database/scripts/reset.ts
  packages/database/src/schema.ts
Due: backend, unit

fix(web): Fixed automatic width for overview cards
  apps/web/components/experiment-overview-cards.tsx
  apps/web/components/protocol-overview-cards.tsx
Due: web, unit

fix(web): Fixed automatic width for overview cards (#533)
  apps/web/components/experiment-overview-cards.tsx
  apps/web/components/protocol-overview-cards.tsx
Due: web, unit

fix(useExperimentAccess): ensure error check includes null for 403 status
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.test.tsx
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.ts
Due: web, unit

feat(experiments): implement GetExperimentAccess use case and integrate access control in experiment-related components
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

fix(useExperimentAccess): enhance type safety for useQuery mock and retry logic in tests
  apps/backend/src/experiments/experiment.module.ts
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.test.tsx
Due: backend, web, unit

refactor(experiments): remove ChangeExperimentStatusUseCase and related tests
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/experiment.module.ts
Due: backend, unit

fix(useExperimentAccess): refine retry logic to handle error checks more robustly
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.test.tsx
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.ts
Due: web, unit

feat(experiments): enforce access control for experiment status changes, updates, and deletions
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
Due: backend, unit

feat: implement visibility-based experiment access control with member validation (#531)
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.spec.ts
  apps/backend/src/experiments/application/use-cases/change-experiment-status/change-experiment-status.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/delete-experiment/delete-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/remove-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/get-experiment-access/get-experiment-access.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/update-experiment/update-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/web/app/[locale]/platform/experiments/[id]/layout.tsx
  apps/web/components/experiment-settings/experiment-settings.tsx
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.test.tsx
  apps/web/hooks/experiment/useExperimentAccess/useExperimentAccess.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/i18n/locales/en-US/common.json
Due: backend, web, unit

ci: separates blt into multiple composite actions
  .github/actions/blt/action.yml
  .github/actions/bpd/action.yml
  .github/actions/build-packages/action.yml
  .github/actions/detect-affected-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/setup/action.yml
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
Due: none

bring back original affected script
  .github/actions/detect-affected-packages/action.yml
Due: none

ci: separates blt into multiple composite actions
  .github/actions/build-packages/action.yml
  .github/actions/detect-affected-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/setup-nodejs-pnpm/action.yml
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
Due: none

removes unused actions
  .github/actions/blt/action.yml
  .github/actions/bpd/action.yml
Due: none

test change
  apps/web/app/layout.tsx
Due: web, unit

affected_apps
  .github/actions/build-packages/action.yml
  .github/actions/detect-affected-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
Due: none

try
  .github/actions/build-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/test-packages/action.yml
Due: none

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
