Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

chore: test affected app detection
  apps/web/app/layout.tsx
Due: web, unit

Revert "feat(cicd): dedicated action to detect affected apps (#374)"
  .github/actions/blt/action.yml
  .github/actions/identify-affected/action.yml
  .github/workflows/pr.yml
Due: none

Revert "feat(cicd): dedicated workflow to detect affected apps (#375)"
  .github/actions/identify-affected/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

chore(cicd): revert affected detection changes (#377)
  .github/actions/blt/action.yml
  .github/workflows/identify-affected.yml
  .github/workflows/pr.yml
Due: none

feat(backend): dedicated endpoint to fetch experiment data per table
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/eslint.config.js
Due: backend, unit

chore
  apps/backend/.env.test
Due: none

reworks model
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

chore: updates tests
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

feat(backend): introduces dedicated endpoint to retrieve experiment datasets (#341)
  apps/backend/.env.test
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/get-experiment/get-experiment.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
  apps/docs/static/api/rest/openapi.json
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/database/eslint.config.js
Due: backend, unit

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat(db): db adjustments & integrations (frontend deployment & migrations)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/run-database-migrations.yml
Due: none

feat(infra): enables route53 dns resolutions & domain mapping
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
Due: none

feat(infra): hooks up static docs site to route53 & waf
  infrastructure/env/dev/main.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/cloudfront/main.tf
  infrastructure/modules/cloudfront/variables.tf
  infrastructure/modules/waf/main.tf
Due: none

feat: dns, cdn & routing for backend
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/backend-cloudfront/main.tf
  infrastructure/modules/backend-cloudfront/outputs.tf
  infrastructure/modules/backend-cloudfront/variables.tf
  infrastructure/modules/opennext-lambda/empty-function.zip
  infrastructure/modules/route53/main.tf
  infrastructure/modules/route53/outputs.tf
  infrastructure/modules/route53/variables.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
Due: none

feat(infra): hooks up opennext lambda to route53 & waf
  infrastructure/env/dev/main.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-cloudfront/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/outputs.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/route53/main.tf
  infrastructure/modules/waf/variables.tf
Due: none

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat(infra): migrations ecs task
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
Due: none

feat: implement admin check for adding experiment members and enhance related tests
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
Due: backend, unit

feat: refactor access control for experiment members and update related tests
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
Due: backend, unit

fix: update access check to mark creator as admin in experiment access info
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
Due: backend, unit

Debug 3
  .github/workflows/pr.yml
Due: none

Debug 2
  .github/actions/blt/action.yml
Due: none

Debug
  .github/actions/blt/action.yml
Due: none

test pr
  .github/actions/blt/action.yml
Due: none

Debug 4
  packages/api/src/contracts/user.contract.ts
Due: none

Debug 5
  apps/web/app/layout.tsx
Due: web, unit

Debug 5
  packages/api/src/contracts/user.contract.ts
Due: none

refactor: streamline experiment data access logic and enhance error handling
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
Due: backend, unit

feat: refactor experiment member management to support batch addition (#370)
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-member.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/add-experiment-members.ts
  apps/backend/src/experiments/application/use-cases/experiment-members/list-experiment-members.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/experiment/useExperimentMemberAdd/useExperimentMemberAdd.ts
  packages/api/src/contracts/experiment.contract.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

Debug 6
  apps/web/app/layout.tsx
Due: web, unit

Debug 7
  apps/web/components/login-form.tsx
Due: web, unit

Debug 8
  apps/tools/multispeq_mqtt_interface/src/multispeq_mqtt_interface/mqtt/__init__.py
  apps/web/components/login-form.tsx
Due: web, unit

Debug 9
  apps/docs/docs/001-introduction/key-features.md
Due: none

fixes
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment-members-card.tsx
  apps/web/components/new-experiment-visibility-card.tsx
  apps/web/components/new-experiment.tsx
Due: web, unit

feat: enhance member management by supporting raw members and user info conversion
  apps/web/components/current-members-list.tsx
  apps/web/components/experiment-member-management.tsx
  apps/web/components/new-experiment-members-card.tsx
  apps/web/components/new-experiment.tsx
  apps/web/components/user-search-popover.tsx
  apps/web/components/user-search-with-dropdown.tsx
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
Due: web, unit

feat: implement confirmation dialog for experiment deletion in ExperimentInfoCard
  apps/web/components/experiment-settings.tsx
Due: web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
