Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

chore(ui): update @radix-ui/react-* to radix-ui
  packages/ui/package.json
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/aspect-ratio.tsx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/collapsible.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/menubar.tsx
  packages/ui/src/components/navigation-menu.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/progress.tsx
  packages/ui/src/components/radio-group.tsx
  packages/ui/src/components/scroll-area.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/components/tooltip.tsx
Due: none

chore(ui): update @radix-ui/react-* to radix-ui (#484)
  packages/ui/package.json
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/alert-dialog.tsx
  packages/ui/src/components/aspect-ratio.tsx
  packages/ui/src/components/avatar.tsx
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/checkbox.tsx
  packages/ui/src/components/collapsible.tsx
  packages/ui/src/components/command.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/form.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/input-otp.tsx
  packages/ui/src/components/label.tsx
  packages/ui/src/components/menubar.tsx
  packages/ui/src/components/navigation-menu.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/progress.tsx
  packages/ui/src/components/radio-group.tsx
  packages/ui/src/components/scroll-area.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/separator.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/slider.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/toast.tsx
  packages/ui/src/components/toggle-group.tsx
  packages/ui/src/components/toggle.tsx
  packages/ui/src/components/tooltip.tsx
Due: none

feat(web): Added registration page (WIP)
  apps/backend/src/users/user.module.ts
  apps/web/app/[locale]/register/page.tsx
  apps/web/components/user-registration.tsx
  apps/web/hooks/useGetCurrentUser.ts
  apps/web/hooks/useSetUserRegistered.ts
Due: backend, web, unit

feat(web): Improved registration form
  apps/web/app/[locale]/register/page.tsx
  apps/web/components/registration-form.tsx
  apps/web/components/user-registration.tsx
  packages/i18n/locales/en-US/common.json
Due: web, unit

feat(web): Improved registration form
  apps/web/components/registration-form.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: web, unit

feat(web): Changed API
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/backend/src/users/user.module.ts
  apps/web/components/registration-form.tsx
  apps/web/hooks/useCreateUserProfile.ts
  apps/web/hooks/useSetUserRegistered.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/schemas/user.schema.ts
Due: backend, web, unit

Update get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
Due: backend, unit

feat: Implement flow management API with CRUD operations for flows and flow steps
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.ts
  apps/backend/src/experiments/flows/core/models/flow.model.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/schemas/experiment.schema.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

init
  .gitignore
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/tsconfig.json
  package.json
  packages/api/src/contract.ts
  packages/api/src/index.ts
  packages/database/drizzle/0005_tranquil_sentry.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  pnpm-lock.yaml
  turbo.json
Due: backend, unit

refactor: Clean up whitespace and improve code readability in various files
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

feat: Enhance Flow and Experiment Error Handling
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow-step.repository.spec.ts
  apps/backend/src/experiments/flows/core/repositories/flow.repository.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

Auto stash before rebase of "flow"
  pnpm-lock.yaml
Due: none

Add python support for images
  apps/mobile/package.json
  apps/mobile/src/app/(tabs)/_layout.tsx
  apps/mobile/src/app/(tabs)/python.tsx
  apps/mobile/src/services/python/python-provider.tsx
  apps/mobile/src/services/python/python-sandbox-html.ts
  apps/mobile/src/services/python/python.html
  pnpm-lock.yaml
Due: mobile, unit

feat(auth): adjusts auth type module augmentation
  apps/backend/src/common/decorators/current-user.decorator.ts
  apps/backend/src/common/guards/auth.guard.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/web/components/unified-navbar.tsx
  apps/web/lib/auth.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/types.ts
  pnpm-lock.yaml
Due: backend, web, unit

feat(auth): comment out example role property
  packages/auth/src/config.ts
  packages/auth/src/types.ts
Due: none

feat: update flow controller to return full step object on creation
  apps/backend/package.json
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/experiments/flows/presentation/flow.controller.ts
  packages/database/package.json
  pnpm-lock.yaml
Due: backend, unit

feat(auth): adjusts auth types module augmentation, bumps versions (#488)
  apps/backend/src/common/decorators/current-user.decorator.ts
  apps/backend/src/common/guards/auth.guard.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.ts
  apps/backend/src/experiments/presentation/experiment-members.controller.ts
  apps/backend/src/experiments/presentation/experiment-protocols.controller.ts
  apps/backend/src/experiments/presentation/experiment.controller.ts
  apps/backend/src/protocols/presentation/protocol.controller.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/web/components/unified-navbar.tsx
  apps/web/lib/auth.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/types.ts
  pnpm-lock.yaml
Due: backend, web, unit

feat: add new experiment flow component and side panel for question management
  apps/web/app/globals.css
  apps/web/components/base-handle.tsx
  apps/web/components/base-node.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/side-panel-flow.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: web, unit

fix: replace BarChart2 icon with ChartColumn in analysis node type
  apps/web/components/new-experiment/new-experiment-flow.tsx
Due: web, unit

fix
  apps/web/components/side-panel-flow.tsx
Due: web, unit

Adapt for new data format
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/context/toast-context.tsx
  apps/mobile/src/hooks/use-device-connection.ts
  apps/mobile/src/hooks/use-experiments-data.ts
  apps/mobile/src/hooks/use-failed-uploads.ts
  apps/mobile/src/hooks/use-measurement-upload.ts
  apps/mobile/src/screens/measurement-screen/measurement-screen.tsx
  apps/mobile/src/utils/map-rows-to-measurements.ts
  apps/mobile/tsconfig.json
Due: mobile, unit

Persist data in async storage for offline support
  apps/mobile/package.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/configured-query-client-provider.tsx
  pnpm-lock.yaml
Due: mobile, unit

feat: add type-safe error handling utilities for Drizzle ORM and enhance ExperimentFlowController with mobile flow support
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.spec.ts
  apps/backend/src/experiments/flows/presentation/experiment-flow.controller.ts
  apps/backend/src/test/test-harness.ts
  packages/api/src/contracts/flow.contract.ts
  packages/api/src/schemas/flow.schema.ts
Due: backend, unit

feat: enhance error handling in defaultRepositoryErrorMapper using Drizzle error utilities
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.ts
Due: backend, unit

feat: remove artificial error handling tests and improve integration coverage for flow use cases
  apps/backend/src/experiments/flows/application/use-cases/create-flow-step/create-flow-step.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/create-flow/create-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/get-flow/get-flow.spec.ts
  apps/backend/src/experiments/flows/application/use-cases/list-flows/list-flows.spec.ts
Due: backend, unit

feat: Added registration page
  apps/backend/src/test/test-harness.ts
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.ts
  apps/backend/src/users/user.module.ts
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/register/page.tsx
  apps/web/components/experiment-settings/experiment-member-management-card.tsx
  apps/web/components/registration-form.tsx
  apps/web/hooks/useCreateUserProfile.ts
  packages/api/src/contracts/user.contract.ts
  packages/api/src/schemas/user.schema.ts
  packages/auth/package.json
  packages/auth/src/config.ts
  packages/auth/src/types.ts
  packages/database/drizzle/0005_warm_crystal.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
  pnpm-lock.yaml
Due: backend, web, unit

feat: add type-safe error handling utilities for Drizzle ORM and enhance fp-utils
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.ts
Due: backend, unit

feat: add comprehensive tests for Drizzle error handling utilities
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
Due: backend, unit

feat: enhance type safety in error handling utilities by adding hint property to PostgreSQL error types
  apps/backend/src/common/utils/drizzle-error-utils.ts
Due: backend, unit

chore(backend): Added unit tests
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.spec.ts
  apps/backend/src/users/core/models/user.model.ts
  apps/backend/src/users/core/repositories/user.repository.spec.ts
  apps/backend/src/users/core/repositories/user.repository.ts
  apps/backend/src/users/presentation/user.controller.spec.ts
Due: backend, unit

Update packages/i18n/locales/en-US/common.json
  packages/i18n/locales/en-US/common.json
Due: none

fix(web): Text fixes
  apps/web/components/registration-form.tsx
  packages/i18n/locales/de-DE/common.json
  packages/i18n/locales/en-US/common.json
Due: web, unit

fix(backend): Fixed issues from review
  apps/backend/src/users/application/use-cases/create-user-profile/create-user-profile.ts
  apps/backend/src/users/core/repositories/user.repository.ts
Due: backend, unit

chose(web): Removed unused experiment data placeholders
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
Due: web, unit

chore(web): Removed unused experiment data placeholders (#492)
  apps/web/app/[locale]/platform/experiments/[id]/data/page.tsx
Due: web, unit

feat: add comprehensive Drizzle ORM error handling utilities and update drizzle packages
  apps/backend/package.json
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.ts
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: backend, unit

feat(errors): implement AppError class and default error mapper for improved error handling
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
Due: backend, unit

feat: add comprehensive Drizzle ORM error handling utilities and update drizzle packages (#493)
  apps/backend/package.json
  apps/backend/src/common/utils/drizzle-error-utils.spec.ts
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/backend/src/common/utils/fp-utils.spec.ts
  apps/backend/src/common/utils/fp-utils.ts
  packages/database/package.json
  packages/database/src/index.ts
  pnpm-lock.yaml
Due: backend, unit

init
  apps/backend/jest.config.js
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/experiments/core/repositories/experiment.repository.ts
  apps/backend/src/experiments/flows/flow.module.ts
  apps/backend/src/test/test-harness.ts
  apps/backend/tsconfig.json
  package.json
  packages/api/src/contract.ts
  packages/api/src/index.ts
  packages/database/drizzle/0005_tranquil_sentry.sql
  packages/database/drizzle/meta/0005_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
  pnpm-lock.yaml
  turbo.json
Due: backend, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
