Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

log
  .github/actions/build-packages/action.yml
Due: none

try 2
  .github/actions/build-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/test-packages/action.yml
Due: none

test change 2
  apps/docs/docs/006-for-developers/004-tools/001-multispeq-mqtt-interface/003-usage/003-advanced-options.md
Due: none

remove verbose echo and test changes
  .github/actions/build-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/test-packages/action.yml
  apps/docs/docs/006-for-developers/004-tools/001-multispeq-mqtt-interface/003-usage/003-advanced-options.md
  apps/web/app/layout.tsx
Due: web, unit

ci: separates blt into multiple composite actions (#537)
  .github/actions/blt/action.yml
  .github/actions/bpd/action.yml
  .github/actions/build-packages/action.yml
  .github/actions/detect-affected-packages/action.yml
  .github/actions/lint-packages/action.yml
  .github/actions/setup-nodejs-pnpm/action.yml
  .github/actions/test-packages/action.yml
  .github/workflows/pr.yml
Due: none

feat: registration flow without forced logout
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/register/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/components/registration-form.tsx
  apps/web/hooks/useCreateUserProfile.ts
  apps/web/lib/auth.ts
  infrastructure/modules/opennext-cloudfront/main.tf
  packages/auth/src/config.ts
  packages/auth/src/types.ts
Due: web, unit

feat(auth): registration flow without forced logout (#535)
  apps/web/app/[locale]/platform/layout.tsx
  apps/web/app/[locale]/register/page.tsx
  apps/web/app/actions/auth.ts
  apps/web/components/registration-form.tsx
  apps/web/hooks/useCreateUserProfile.ts
  apps/web/lib/auth.ts
  infrastructure/modules/opennext-cloudfront/main.tf
  packages/auth/src/config.ts
  packages/auth/src/types.ts
Due: web, unit

feat: work
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/common/modules/databricks/databricks.service.spec.ts
  apps/backend/src/common/modules/databricks/databricks.service.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.spec.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.types.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.spec.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.ts
  apps/backend/src/common/modules/databricks/services/config/config.types.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.spec.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.types.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.spec.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.types.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.spec.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.types.ts
  apps/backend/src/common/services/databricks/databricks.module.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/common/utils/axios-error.spec.ts
  apps/backend/src/common/utils/axios-error.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

feat: some additional checks in get-experiment-data
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
Due: backend, unit

feat: port & adapter
  apps/backend/src/common/modules/databricks/databricks.adapter.spec.ts
  apps/backend/src/common/modules/databricks/databricks.adapter.ts
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/core/ports/databricks.port.ts
  apps/backend/src/experiments/experiment.module.ts
Due: backend, unit

feat: test adjust
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
Due: backend, unit

types and lintssq
  apps/backend/src/common/modules/databricks/services/sql/sql.types.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
Due: backend, unit

opt
  apps/backend/src/common/modules/databricks/services/auth/auth.service.ts
Due: backend, unit

adjustments
  apps/backend/src/common/modules/databricks/services/sql/sql.service.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.types.ts
Due: backend, unit

refactor(backend): redesigns databricks integration (#507)
  apps/backend/src/common/modules/databricks/databricks.adapter.spec.ts
  apps/backend/src/common/modules/databricks/databricks.adapter.ts
  apps/backend/src/common/modules/databricks/databricks.module.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.spec.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.service.ts
  apps/backend/src/common/modules/databricks/services/auth/auth.types.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.spec.ts
  apps/backend/src/common/modules/databricks/services/config/config.service.ts
  apps/backend/src/common/modules/databricks/services/config/config.types.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.spec.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.service.ts
  apps/backend/src/common/modules/databricks/services/jobs/jobs.types.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.spec.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.service.ts
  apps/backend/src/common/modules/databricks/services/sql/sql.types.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.spec.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.service.ts
  apps/backend/src/common/modules/databricks/services/tables/tables.types.ts
  apps/backend/src/common/services/databricks/databricks.module.ts
  apps/backend/src/common/services/databricks/databricks.service.spec.ts
  apps/backend/src/common/services/databricks/databricks.service.ts
  apps/backend/src/common/services/databricks/databricks.types.ts
  apps/backend/src/common/utils/axios-error.spec.ts
  apps/backend/src/common/utils/axios-error.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.spec.ts
  apps/backend/src/experiments/application/use-cases/create-experiment/create-experiment.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.spec.ts
  apps/backend/src/experiments/application/use-cases/experiment-data/get-experiment-data.ts
  apps/backend/src/experiments/core/models/experiment.model.ts
  apps/backend/src/experiments/core/ports/databricks.port.ts
  apps/backend/src/experiments/experiment.module.ts
  apps/backend/src/experiments/presentation/experiment-data.controller.spec.ts
  apps/backend/src/experiments/presentation/experiment.controller.spec.ts
  apps/backend/src/test/test-harness.ts
Due: backend, unit

work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

adjustments
  infrastructure/env/dev/main.tf
Due: none

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/catalog/main.tf
  infrastructure/modules/databricks/catalog/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/main.tf
  infrastructure/modules/databricks/workspace/outputs.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

feat: data infra work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/pipeline/variables.tf
  infrastructure/modules/databricks/secret_scope/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
  infrastructure/modules/databricks/secret_scope/variables.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/service_principal/outputs.tf
  infrastructure/modules/databricks/service_principal/variables.tf
  infrastructure/modules/databricks/workspace/outputs.tf
Due: none

chore: removes unused spark conf
  infrastructure/env/dev/main.tf
Due: none

feat: adjustments
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/modules/databricks/job/main.tf
  infrastructure/modules/databricks/job/variables.tf
Due: none

feat
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/secret_scope/outputs.tf
Due: none

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/pipeline/main.tf
  infrastructure/modules/databricks/service_principal/main.tf
  infrastructure/modules/databricks/workspace/variables.tf
Due: none

fix: typo
  infrastructure/env/dev/main.tf
Due: none

feat: databricks status update
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

feat: work
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/variables.tf
  infrastructure/notebooks/tasks/experiment_status_update_task.py
Due: none

adjusts
  infrastructure/env/dev/main.tf
  infrastructure/modules/databricks/secret_scope/main.tf
Due: none

feat: Refactor experiment flow management with new hooks and static flow viewer
  apps/backend/src/common/utils/drizzle-error-utils.ts
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/react-flow/base-node.tsx
  apps/web/components/react-flow/flow-utils.ts
  apps/web/components/static-flow-viewer/index.ts
  apps/web/components/static-flow-viewer/static-flow-viewer.tsx
  apps/web/hooks/experiment/useExperimentFlow/useExperimentFlow.ts
  apps/web/hooks/experiment/useExperimentFlowCreate/useExperimentFlowCreate.ts
  apps/web/hooks/experiment/useExperimentFlowUpdate/useExperimentFlowUpdate.ts
  apps/web/hooks/flow/useCreateFlowWithSteps/useCreateFlowWithSteps.ts
  apps/web/hooks/flow/useFlow/useFlow.ts
  apps/web/hooks/flow/useFlowConnections/index.ts
  apps/web/hooks/flow/useFlowConnections/useFlowConnections.ts
  apps/web/hooks/flow/useFlowSteps/useFlowSteps.ts
  apps/web/hooks/flow/useFlowWithGraph/index.ts
  apps/web/hooks/flow/useFlowWithGraph/useFlowWithGraph.ts
  apps/web/hooks/flow/useUpdateFlowWithSteps/useUpdateFlowWithSteps.ts
Due: backend, web, unit

feat: Implement experiment flow components and mock protocol search
  apps/web/app/[locale]/platform/experiment/flow/page.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/react-flow/flow-utils.ts
  apps/web/components/side-panel-flow/analysis-panel.tsx
  apps/web/components/side-panel-flow/measurement-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
  apps/web/hooks/protocol/useProtocolSearch/useProtocolSearch.mock.ts
Due: web, unit

fix
  apps/web/components/side-panel-flow.tsx
Due: web, unit

refactor: Clean up code formatting and remove unused mock protocol search file
  apps/web/app/[locale]/platform/experiment/flow/page.tsx
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/components/side-panel-flow/measurement-panel.tsx
  apps/web/hooks/experiment/useExperimentFlowUpdate/useExperimentFlowUpdate.ts
  apps/web/hooks/protocol/useProtocolSearch/useProtocolSearch.mock.ts
Due: web, unit

feat(flow-editor): add 'required' property to question content in flow conversion tests
  apps/web/components/flow-editor/__tests__/flow-conversion.test.ts
  apps/web/components/flow-editor/__tests__/flow-mapper.test.ts
Due: web, unit

feat(flow-editor): add fullscreen functionality to flow editor + edge label can be updated
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/flow-editor/flow-mapper.ts
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/side-panel-flow/edge-panel.tsx
  apps/web/components/side-panel-flow/side-panel-flow.tsx
Due: web, unit

feat(flow-editor): implement flow editor ref and position persistence for nodes
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/components/flow-editor/flow-editor.tsx
  apps/web/components/flow-editor/flow-mapper.ts
  apps/web/components/flow-editor/index.ts
  packages/api/src/schemas/experiment.schema.ts
Due: web, unit

refactor: streamline JSX formatting and improve readability in multiple components
  apps/web/app/[locale]/platform/experiments/[id]/page.tsx
  apps/web/components/flow-editor/flow-mapper.ts
  apps/web/components/question-card.tsx
  apps/web/components/side-panel-flow/analysis-panel.tsx
  apps/web/components/side-panel-flow/measurement-panel.tsx
Due: web, unit

feat: add new experiment flow component and side panel for question management
  apps/web/app/globals.css
  apps/web/components/base-handle.tsx
  apps/web/components/base-node.tsx
  apps/web/components/legend-flow.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/components/new-experiment/new-experiment.tsx
  apps/web/components/side-panel-flow.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: web, unit

added padding
  apps/web/components/flow-editor/flow-editor.tsx
Due: web, unit

wip
  apps/web/app/[locale]/platform/experiments/[id]/flow/page.tsx
  apps/web/components/new-experiment/new-experiment-flow.tsx
  apps/web/hooks/flow/index.ts
  apps/web/hooks/flow/useFlow/useFlow.ts
  apps/web/hooks/flow/useFlowConnections/index.ts
  apps/web/hooks/flow/useFlowConnections/useFlowConnections.ts
  apps/web/hooks/flow/useFlowSteps/useFlowSteps.ts
  apps/web/hooks/flow/useUpdateFlowWithSteps/useUpdateFlowWithSteps.ts
Due: web, unit

Path conditions:
  backend: any of: apps/backend/src, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  web: any of: apps/web, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  mobile: any of: apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
  unit: any of: apps/backend/src, apps/web, apps/mobile, but not: **/*.d.ts, **/node_modules/**, **/dist/**, **/.next/**, **/test/**, apps/backend/src/test/**, **/*.model.ts, **/models/**, apps/backend/src/main.ts, infrastructure/**, patches/**, tooling/**, **/*.config.js, **/*.config.ts
