Repository Jan-IngenHousz-Institute/open-jii: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web, mobile, unit

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
        flags:
          - unit
        paths:
          - "**"
      backend:
        target: auto
        threshold: 1%
        flags:
          - backend
        paths:
          - "apps/backend/src"
      web:
        target: auto
        threshold: 1%
        flags:
          - web
        paths:
          - "apps/web"
      mobile:
        target: auto
        threshold: 1%
        flags:
          - mobile
        paths:
          - "apps/mobile"
    patch:
      default:
        target: auto
        threshold: 5%
        base: auto
    changes: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: no
  require_head: no

ignore:
  - "**/*.d.ts"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/.next/**"
  - "**/test/**"
  - "apps/backend/src/test/**"
  - "**/*.model.ts"
  - "**/models/**"
  - "apps/backend/src/main.ts"
  - "infrastructure/**"
  - "patches/**"
  - "tooling/**"
  - "**/*.config.js"
  - "**/*.config.ts"

flags:
  backend:
    paths:
      - apps/backend/src
    carryforward: true
  web:
    paths:
      - apps/web
    carryforward: true
  mobile:
    paths:
      - apps/mobile
    carryforward: true
  unit:
    paths:
      - apps/backend/src
      - apps/web
      - apps/mobile
    carryforward: true

test tf
  infrastructure/modules/iam-oidc/main.tf
Due: none

add small data res.
  infrastructure/modules/ecs/data.tf
Due: none

remove testing comment-outs
  .github/actions/tofu/action.yml
  .github/workflows/deployment-template.yml
Due: none

feat(infra): additions to backend iac implementation (#305)
  infrastructure/env/dev/main.tf
  infrastructure/modules/alb/main.tf
  infrastructure/modules/alb/outputs.tf
  infrastructure/modules/alb/variables.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/outputs.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/ecs/data.tf
  infrastructure/modules/ecs/iam.tf
  infrastructure/modules/ecs/locals.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/vpc-endpoints/main.tf
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
  infrastructure/modules/vpc/variables.tf
  infrastructure/modules/waf/main.tf
  infrastructure/modules/waf/outputs.tf
  infrastructure/modules/waf/variables.tf
Due: none

chore: copilot suggestions
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/vpc/outputs.tf
Due: none

feat: adjusts networking (lambda x db x ecs)
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  .github/workflows/run-database-migrations.yml
  infrastructure/modules/aurora_db/main.tf
  infrastructure/modules/aurora_db/outputs.tf
  infrastructure/modules/opennext-cloudfront/main.tf
  infrastructure/modules/opennext-lambda/main.tf
  infrastructure/modules/opennext-lambda/variables.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
  infrastructure/modules/vpc/README.md
  infrastructure/modules/vpc/main.tf
  infrastructure/modules/vpc/outputs.tf
Due: none

Feat: replaced TextArea with the the rich text area editor version Quill
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/components/edit-experiment.tsx
  apps/web/components/new-experiment.tsx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/rich-text-renderer.tsx
  packages/ui/src/components/rich-textarea.tsx
  packages/ui/src/components/textarea.tsx
  pnpm-lock.yaml
Due: web, unit

feat(ui): add rich text editor and renderer components for enhanced experiment descriptions
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment.tsx
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/rich-text-renderer.tsx
  packages/ui/src/components/rich-textarea.tsx
  pnpm-lock.yaml
Due: web, unit

fix(a11y): add role and aria attributes to rich text editor for improved accessibility
  packages/ui/src/components/rich-textarea.tsx
Due: none

fix(web): Show error messages for API call
  apps/web/components/new-experiment.tsx
  apps/web/util/apiError.ts
Due: web, unit

fix: update regex for HTML tag detection in RichTextRenderer for improved safety
  packages/ui/src/components/rich-text-renderer.tsx
Due: none

fix: improve content handling in RichTextRenderer for better fallback display
  packages/ui/src/components/rich-text-renderer.tsx
Due: none

fix: standardize formatting and improve readability in various components and documentation
  .github/workflows/deployment-template.yml
  infrastructure/modules/aurora_db/README.md
  infrastructure/modules/opennext-dynamodb/README.md
  packages/ui/src/components/index.ts
  packages/ui/src/components/rich-text-renderer.tsx
  packages/ui/src/components/rich-textarea.tsx
  packages/ui/src/components/search-input.tsx
Due: none

fix: simplify React import and useEffect reference in RichTextarea component
  packages/ui/src/components/rich-textarea.tsx
Due: none

feat(ui): add rich text editor and renderer components for enhanced experiment descriptions (#328)
  .github/workflows/deployment-template.yml
  apps/web/app/openjii/experiments/[id]/page.tsx
  apps/web/components/experiment-settings.tsx
  apps/web/components/new-experiment.tsx
  infrastructure/modules/aurora_db/README.md
  infrastructure/modules/opennext-dynamodb/README.md
  packages/ui/package.json
  packages/ui/src/components/index.ts
  packages/ui/src/components/rich-text-renderer.tsx
  packages/ui/src/components/rich-textarea.tsx
  packages/ui/src/components/search-input.tsx
  pnpm-lock.yaml
Due: web, unit

fix(web): Numeric field must stay number after input changes
  apps/web/components/new-experiment.tsx
Due: web, unit

fix(web): Numeric field must stay number after input changes (#332)
  apps/web/components/new-experiment.tsx
Due: web, unit

fix(database,api): update experiment name length to 255 and ensure uniqueness
  apps/docs/static/api/rest/openapi.json
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0001_living_madame_hydra.sql
  packages/database/drizzle/meta/0001_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: none

format
  packages/database/drizzle/meta/0001_snapshot.json
  packages/database/drizzle/meta/_journal.json
Due: none

fix(database,api): update experiment name length to 255 and ensure uniqueness (#333)
  apps/docs/static/api/rest/openapi.json
  packages/api/src/schemas/experiment.schema.ts
  packages/database/drizzle/0001_living_madame_hydra.sql
  packages/database/drizzle/meta/0001_snapshot.json
  packages/database/drizzle/meta/_journal.json
  packages/database/src/schema.ts
Due: none

fix: restructure mutation error handling with MutationCache
  apps/web/providers/QueryProvider.tsx
Due: web, unit

fix: restructure mutation error handling with MutationCache (#334)
  apps/web/providers/QueryProvider.tsx
Due: web, unit

fix: update useDebounce hook to return isDebounced state and improve user search loading logic to not show no results before the search starts
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/useDebounce.ts
Due: web, unit

fix: update useDebounce hook to return isDebounced state and improve user search loading logic to not show no results before the search starts (#335)
  apps/web/components/experiment-member-management.tsx
  apps/web/hooks/useDebounce.ts
Due: web, unit

fix(web): Fixed generic error toast
  apps/web/providers/QueryProvider.tsx
Due: web, unit

fix(web): Moved onSuccess to hook
  apps/web/components/new-experiment.tsx
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
Due: web, unit

fix(web): inline onSuccess callback in NewExperimentForm
  apps/web/components/new-experiment.tsx
Due: web, unit

fix(web): update onSuccess type in ExperimentCreateProps to void
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
Due: web, unit

fix(web): Show error messages for API call (#331)
  apps/web/components/new-experiment.tsx
  apps/web/hooks/experiment/useExperimentCreate/useExperimentCreate.ts
  apps/web/providers/QueryProvider.tsx
  apps/web/util/apiError.ts
Due: web, unit

feat: adds ecs & ecr module, all things relating to db migrations (minus rollbacks)
  .github/workflows/database-migrations.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/outputs.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/ecs/main.tf
  infrastructure/modules/ecs/outputs.tf
  infrastructure/modules/ecs/variables.tf
  infrastructure/modules/migration-ecs/README.md
  infrastructure/modules/migration-ecs/main.tf
  infrastructure/modules/migration-ecs/outputs.tf
  infrastructure/modules/migration-ecs/variables.tf
  packages/database/drizzle.config.ts
  packages/database/src/database.ts
  packages/database/src/migrate.ts
Due: none

feat: adjusts workflow for opennext deployment, passes db vars directly to server lambda via iac
  .github/actions/get-database-credentials/action.yml
  .github/workflows/deploy-nextjs-opennext.yml
  infrastructure/env/dev/main.tf
  infrastructure/env/dev/outputs.tf
  infrastructure/modules/iam-oidc/data.tf
  infrastructure/modules/iam-oidc/main.tf
  infrastructure/modules/opennext/main.tf
  infrastructure/modules/opennext/variables.tf
Due: none

fix: enhance experiment member schemas and repository to include user details
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  apps/web/components/experiment-member-management.tsx
  packages/api/src/schemas/experiment.schema.ts
Due: backend, web, unit

fix: updated issues and added tests
  apps/backend/src/experiments/core/models/experiment-members.model.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
  apps/backend/src/experiments/core/repositories/experiment-member.repository.ts
  packages/api/src/schemas/experiment.schema.ts
Due: backend, unit

fix: update member creation tests to assert user names and ensure correctness
  apps/backend/src/experiments/core/repositories/experiment-member.repository.spec.ts
Due: backend, unit

Silent invalid styling type
  apps/mobile/src/app/(tabs)/profile.tsx
Due: mobile, unit

Avoid default exports where possible
  apps/mobile/src/app/(auth)/login.tsx
  apps/mobile/src/app/(tabs)/experiments.tsx
  apps/mobile/src/app/(tabs)/index.tsx
  apps/mobile/src/app/(tabs)/measurement.tsx
  apps/mobile/src/app/(tabs)/profile.tsx
  apps/mobile/src/app/design-system.tsx
  apps/mobile/src/components/Button.tsx
  apps/mobile/src/components/Card.tsx
  apps/mobile/src/components/ConnectionStatus.tsx
  apps/mobile/src/components/Dropdown.tsx
  apps/mobile/src/components/Input.tsx
  apps/mobile/src/components/JIIButton.tsx
  apps/mobile/src/components/JIICard.tsx
  apps/mobile/src/components/JIIInput.tsx
  apps/mobile/src/components/JIIText.tsx
  apps/mobile/src/components/JIIThemeToggle.tsx
  apps/mobile/src/components/MeasurementResult.tsx
  apps/mobile/src/components/OfflineBanner.tsx
  apps/mobile/src/components/Toast.tsx
  apps/mobile/src/components/UnsyncedScanItem.tsx
  apps/mobile/src/constants/colors.ts
  apps/mobile/src/constants/theme.ts
  apps/mobile/src/hooks/useAuth.ts
  apps/mobile/src/hooks/useExperiment.ts
  apps/mobile/src/hooks/useNetworkStatus.ts
  apps/mobile/src/hooks/useToast.ts
Due: mobile, unit

Simplify MainRouter
  apps/mobile/src/navigation/main-router.tsx
Due: mobile, unit

feat(mobile): Nextjs auth (#315)
  apps/mobile/app.json
  apps/mobile/package.json
  apps/mobile/src/api/get-login-args.ts
  apps/mobile/src/api/get-session.ts
  apps/mobile/src/app.tsx
  apps/mobile/src/navigation/main-router.tsx
  apps/mobile/src/screens/home-screen.tsx
  apps/mobile/src/widgets/login-widget.tsx
  apps/tools/multispeq_mqtt_interface/package.json
  apps/web/app/api/auth/mobile-redirect/route.ts
  pnpm-lock.yaml
Due: web, mobile, unit
